[2016-03-15 10:17] kjeldschumacher commented on #226
Hey, no still the same error. Will try to find the time during my holiday to debug it further.

[2016-03-15 10:28] thomaszbz commented on #225
Now, this is getting closer:

`Premature end of script headers: ajax.php`

https://wiki.knownhost.com/developmental/what-is-the-premature-end-of-script-headers-php-error

So there is a lot of possibilities.

Maybe check PHP script timeouts (fits together with higher probability to hit the bug when more rows are to be displayed)? Maybe try another PHP version (your hoster allows that!)? Maybe toggl

[2016-03-15 11:17] the-robman commented on #225
Oh my god! The solution is so simple... I change the PHP (5.2.28) version to "FastCGI" and it works! I asking now the support what are the differences between fastcgi and standard.

[2016-03-15 11:22] thomaszbz commented on #225
Great. Happy TYPO3ing ;-)

[2016-03-15 11:22] #225 closed

[2016-03-22 07:33] thomaszbz commented on #226
Do you get the same error if you disable metaseo in the extension manager?

For the moment, it looks like a configuration issue. Please have a look at http://mjnext.com/blog/2012/07/16/typo3-no-typoscript-template-found/ and similar pages. You'll find a lot about it.

Besides TypoScript configuration, please also make sure that a root page is properly set in page properties.

[2016-03-23 16:09] thomaszbz opened #231 "Make metaseo compatible to custom page types"
Posted by  @birgerstoeckelmann for PR #230 :

Make metaseo compatible to custom page types (not only using doktype 1,4 in page tree view). Adding typoscript configuration general.allowedDoktypes and changes to PageSeoDao class to use this simple configuration.

[2016-03-23 16:30] thomaszbz commented on #231
@birgerstoeckelmann Thanks for contribution and patch.

The patch is not valid against TYPO3 6.2, which we still support. It must be compatible against PHP5.3 to make it into metaseo (2.1 presumably) in the near future. E. g. `ObjectManager::class` syntax is not yet available in PHP 5.3. Should be easy to backport, unless you use newer features from TYPO3 7.6. You can set the PHP version in your I

[2016-03-23 16:58] birgerstoeckelmann commented on #231
@thomaszbz Thanks for your quick response - you are right, I will fix my patch to make it valid against TYPO3 6.2 and PHP 5.3.

The main goal of this feature is to list pages with a different doktype than 1 or 4 (which is hardcoded in the PageSeoDao class) in the metaseo web module. We created an extension which simply adds a "Product Page" with doktype 91 and a custom page icon. This page type is

[2016-03-23 17:04] birgerstoeckelmann commented on #231
@thomaszbz Just saw, that you can edit pages with different doktypes by clicking on them directly. But they are not listed when selecting a parent page, so multi-editing of pages with custom page types is not possible due to the fact that the tree is rendered with pages of doktype 1 and 4. Right?

[2016-03-23 17:08] thomaszbz commented on #231
`general`: I'd say that `allowedDoktypes` is a variable which offers functionality for `other` extensions. Why not call it `interact`, `external`, `interface`, `api`, `extensions`, etc. ? This would open a new class of variables for _other_ extensions to interact with metaseo.

Maybe you can bring your extension to not set this variable directly but to hook in somehow (as I already posted)? I'm no

[2016-03-23 17:28] thomaszbz commented on #231
But you are right: `addToList()` should do the job if it works and if it's usable by other constants without conflict. Any other approach is overcomplicating things.

I'd go for `plugin.metaseao.extensibility.allowedDoktypes`

[2016-03-23 17:52] thomaszbz commented on #231
@birgerstoeckelmann The new variable should also be added to documentation.

Please also add yourself to the list of contributors in `Documentation/Introduction/Index.rst`.

[2016-03-27 15:22] thomaszbz commented on #189
@kersten Could you solve this issue? What was the solution?

Did the problem reappear? Can I close this issue or could it still affect other users (maybe you just somehow worked around it)?

[2016-03-28 12:27] evgeniag opened #232 "disableMetaTag doesn't work"
Connector `disableMetaTag` function set null value.

[code]

But value is trimmed and compared with null on the identity in `\Metaseo\Metaseo\Page\Part\MetatagPart::collectMetaDataFromConnector`. But trim will return empty string in this case.

[code]

That's why impossible to disable meta tag.

[2016-03-28 12:50] thomaszbz commented on #232
Thanks for reporting this.

Indeed, the `trim()` leads to the problem at https://github.com/mblaschke/TYPO3-metaseo/blob/ccf8e2236c8cbabf9ef0f40c2606a60f3e43ab2b/Classes/Page/Part/MetatagPart.php#L781

[2016-03-28 16:34] thomaszbz commented on #178
As soon as we use singleton services instead of utility classes we should refactor patterns like

    public static function getXYZ()
    {
        static $cache = null;
        if ($cache === null) {

to a representation with normal `protected` class properties.

It looks as if the static utility classes were misused for that purpose. Using singleton services, this can be avoided. And it also mak

[2016-04-01 07:55] birgerstoeckelmann commented on #231
Hi Thomas,
finally I fixed my first commit to support PHP 5.3 and Extbase 6. Tested with TYPO3 7 and 6.
Could you please check my second commit in pull request?
Best regards, Birger

[2016-04-01 08:30] thomaszbz commented on #231
Thanks for the patch and thanks for backporting against 6.2

Would be great to have a little test case or maybe your extension is online (so that I can use it for testing the patch)? Otherwise I'd have to write some test code myself (I'm not speaking of phpunit tests here).

[2016-04-01 09:47] birgerstoeckelmann commented on #231
I would like to send you two urls to 6.2.19 and 7.6.4 TYPO3 test systems.

Could I use your contact form on 2bis10.de<http://2bis10.de> or info[at]2bis10.de<http://2bis10.de> email for this?

Am 01.04.2016 um 10:30 schrieb Thomas Mayer <notifications@github.com<mailto:notifications@github.com>>:

Thanks for the patch and thanks for backporting against 6.2

Would be great to have a little test case

[2016-04-01 10:04] thomaszbz commented on #231
Of course, you can use the contact form. Should be encrypted all the way through.

[2016-04-01 11:22] thomaszbz commented on #231
ok, on the 6.2 instance, I opened `?id=6` and it made it into the sitemap (was not there before).

Looks good at that point, but I can't look into the code via TYPO3-backend (and play around with it).

[2016-04-01 11:30] birgerstoeckelmann commented on #231
Ok, then you have to set up your own TYPO3 and clone https://github.com/birgerstoeckelmann/TYPO3-metaseo, I guess. Can't give you FTP access to our server, it's only internal...

[2016-04-01 11:36] thomaszbz commented on #231
Your commit is not the issue, I simply add another git-remote for your PR, using my [test setup](https://github.com/thomaszbz/native-dockerfiles-typo3).

But to test the modified connector, I need another extension that somehow uses metaseo's connector.

[2016-04-04 13:17] nabossha commented on #214
@cedricziel would you be please provide a simple code-snippet how you included the Connector in your plugin's Controller? I'm currently struggling to set meta-tags on a detail-page and would like to learn how to implement the Connector like you did in your snippet

[2016-04-04 13:23] cedricziel commented on #214
@nabossha That's the actual example taken from my application. I call the following function from my actions:

[code]

[2016-04-04 17:50] nabossha commented on #214
@cedricziel  thanks a lot for this sample - that really helped me to get into it!

[2016-04-07 13:05] rafu1987 opened #233 "Backend modules don't work in version 2.0.0"
Since version 2.0.0 the backend modules don't show anything anymore in TYPO3 6.2.19

If I use i.e. the module SEO/metatags on the main page with the globe icon, nothing is shown anymore, but on subpages it shows i.e. the page information for the page selected and subpages.

[2016-04-07 14:32] thomaszbz commented on #233
Does your main page contain "hidden" pages? Does it contain pages which you cannot access because of permissions?

Please check if your main page is a TYPO3-shortcut-link. If you have such a link, what happens if you change it to a real page?

Also, please make absolutely sure that you have cleared all caches, including "all caches" button and opcode cache in the install tool.

If you still have t

[2016-04-07 15:41] thomaszbz commented on #233
I replaced your ajaxToken with `xxx`. Should not be exposed to the public. Your session is gone anyways.

Please have a look at #225 . #225 was a status 500 error on _some_ pages in the backend like in your case (especially if you have the same hoster). It could be solved by configuration (using FastCGI).

http status 500 means it could still be a bug. To reproduce it, I still need the _content_ o

[2016-04-07 15:54] rafu1987 commented on #233
**Response headers**
HTTP/1.1 500 Internal Server Error
Date: Thu, 07 Apr 2016 15:51:30 GMT
Server: Apache
Accept-Ranges: bytes
Content-Length: 707
Content-Type: text/html
Connection: keep-alive

The error doesn't seem to be on every hosting environment. i.e. Mittwald has the error and 1&1 doesn't so I think we can rule out a bug of metaseo in this case.

[2016-04-07 16:02] thomaszbz commented on #233
You've send the headers, not the _content_ of the response. I'd still like to see what it is.

[2016-04-07 16:05] rafu1987 commented on #233
That should be the _content_ you're looking for...
So I'm a bit lost here now - what's the solution for the problem and how come, other backend modules work just fine on the same hosting, etc.

`<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/css; charset=utf-8" />
		<title>Fehler 500</title>
		<link rel="stylesheet" type="te

[2016-04-07 16:15] thomaszbz commented on #233
Funny... it got translated :-)

Ok, the error somehow was hidden by Mittwald. That's exactly the same problem we had with jweiland via #225 : How to get an error message? At jweiland we got an error message from the apache logs which was (manually) provided via support ticket.

For the moment, I can say that this exception was _not_ thrown by metaseo's code (but we call a lot of functions from the

[2016-04-08 15:56] rafu1987 commented on #233
I checked on our local server and we have the problem there, too. So I looked at the apache log files there, because Mittwald doesn't provide the Apache logs (only via Support).

We have a Docker environment (I can't tell you much more, I already asked our IT guy :) )

But maybe you can identify the problem with the log entries:

`[Fri Apr 08 15:49:53.755224 2016] [proxy_fcgi:error] [pid 31:tid 14

[2016-04-08 16:05] thomaszbz commented on #233
`Premature end of script headers: ajax.php` with FCGI used (`proxy_fcgi:error`). This is exactly what I assumed: A duplicate of #225.

Docker is not the reason for this error, I'm using it myself for a [testing environment](https://github.com/thomaszbz/native-dockerfiles-typo3):

I'm quite confident that this error is gone as soon as you don't use CGI or FCGI, in favour of apache_mod_php or FastCG

[2016-04-08 16:39] thomaszbz commented on #233
To track it down against distro or apache/php: Please check if you have installed the latest updates in your distro. Please check if you use apache 2.4.10 and older. If that is the case, please check if this (patch)[https://bz.apache.org/bugzilla/show_bug.cgi?id=57198] got backported to your distro. If not, you should open a bug and tell them that this got fixed upstream. The affected package is a

[2016-04-11 15:30] rafu1987 commented on #233
We use different PHP versions in a container and apache in another container and in fact PHP-FPM in order to use different versions for different projects. In this case it's PHP version 5.6.18, Apache version 2.4.16 and Debian Jessie in the Apache container.

[2016-04-12 13:38] qitec opened #234 "Compatibility for news (successor of tt_news)"
I found an empty Hook-File but no real support for news-extensions detail page in metaseo. There is only support for tt_news.

Actually the og:title is the same as the page title. But in case of the news detail page this should be the same overwritten title that news generates and assigns to the rendered frontend.

Maybe there is a way to hook the 'overwrite-page-title-mechanism' to overwrite the

[2016-04-12 13:44] SOFTWORK opened #235 "Problem - wrong cache values for Title tag in Multilang site"
Module render the title based on a wrong language accociation, after cache clearing - it will reset and other languages are false rendered

[2016-04-12 14:18] rafu1987 commented on #233
And one other thing. It works on subpages, but not on the main page. Do you know how this can be?

[2016-04-12 19:29] thomaszbz commented on #233
nope. Just that your setup is very customized and far away from the standard/reference test setup I am using. As you use Apache 2.4.16 (>2.4.10) the patch I posted should already be integrated (hopefully).

I bet this is a bug in one of the componets you are using or config is not right for the purpose you are using it (e.g. check maximum available memory for PHP per request).

There is still a ch

[2016-04-15 09:41] PanadeEdu opened #236 "Allow more than 50 entries in Sitemap Backend Module"
Currently the Sitemap Module in the TYPO3 Backend seems to have a hard limit of 50.
However when manipulating larger datasets, for example to quickly assign new rules or manipulate a batch of entries, it can be time consuming going in steps of 50 entries.

Give an option to increase the number of listed entries on one page.
This way the Backend User can decide what is suitable for him.

[2016-04-15 09:44] PanadeEdu opened #237 "Minor rendering bug in Sitemap backend Module (pagination)"
Assume you have 2 pages of entries in the Sitemap Backend Module.
You go to page two, mark all entries and hit delete.
The pagination then seems to think you are on the wrong page.

However I havent seen any negative effects except for the displayed numbers.

[2016-04-15 10:33] thomaszbz commented on #235
Maybe a duplicate of #3 ?

[2016-04-15 10:45] thomaszbz commented on #234
I'm undecided if this a bug or a feature request. It sounds like a feature request to me. What do you think?

If you think this is a bug, please send us step by step which content from which extensions you are using, how your metaseo configuration looks like (in Typoscript-Template). And which versions of metaseo, TYPO3 and PHP you are using. And which documented feature of metaseo is broken (whic

[2016-04-15 10:51] thomaszbz commented on #237
Which versions of metaseo, TYPO3 and PHP are you using?

[2016-04-15 11:52] PanadeEdu commented on #237
TYPO3 6.2
PHP 5.5.9
Metaseo 2.0

[2016-04-19 09:04] birgerstoeckelmann commented on #231
Hello Thomas,

finally I created an extension for testing the new Metaseo extensibility connector.

https://github.com/birgerstoeckelmann/bm-metaseotest

Please install this extension in TYPO3 7.6 and add the TypoScript template after Metaseo's template file.

The extension simply adds a custom page type named "Product" and adds it's doktype (91) to the new allowedDoktypes list of Metaseo.

Thanks

[2016-04-19 14:08] thomaszbz commented on #231
Great. I'll come back to that later (mid-May at best because of limited time). Maybe @mblaschke can test/merge it in the meantime.

[2016-05-04 08:37] kimchristiansen opened #238 "Hide untranslated pages in sitemap"
This issue is still not fixed:

https://forge.typo3.org/issues/45853
When the option 'hidePagesIfNotTranslatedByDefault' is activated through the install tool, typo3 throws a 404 error when a user tries to access a page which is not translated.
But this page, lets say german and english version exists, AND all other combinations of language key & page url are published to the sitemap.

[2016-05-04 08:53] thomaszbz commented on #238
Please tell us which version of metaseo and TYPO3 you were using.

[2016-05-04 09:22] kimchristiansen commented on #238
I am using TYPO3 6.2.22 and metaseo 2.0.0

[2016-05-13 14:06] rafu1987 commented on #233
Hello again,

we investigated the problem once again and finally came to a solution - see: http://serverfault.com/questions/711750/apache-2-4-16-response-header-value-clipped

This is the exact problem and could only be fixed by increasing the **HUGE_STRING_LEN** in the source code of the mod_proxy Apache module. Originally, the HUGE_STRING_LEN is limited to 8KB.

Is there any particularly reason,

[2016-05-13 20:34] thomaszbz commented on #233
Thank you for reporting back. Indeed, metaseo 2.0.0 has at least one new http header which we use to identify metaseo ajax requests. This got necessary because we have to use XClasses for a workaround which adresses a limitation in TYPO3. Long story short: We don't overwrite a class via XClasses which is used by other extensions and might lead to non-reproducable errors.

I was not aware that ther

[2016-05-13 20:35] thomaszbz commented on #225
Seems to be a configuration problem. @rafu1987 describes how to mitigate it in #233

[2016-05-14 09:30] rafu1987 commented on #233
Thanks for explaining. But **HUGE_STRING_LEN** is not a configuration which can be set in Apache configuration. We had to hack the code of the mod_proxy module to get what we want, so this isn't really a fix for everyone.

Secondly, the headers are so large (X-JSON) that they exceed 8KB easily with a page tree of 10 pages and maybe 2 subpages, because so much information is sent through the header

[2016-05-14 10:59] thomaszbz commented on #233
Thanks for pointing this out. In that case I'd say this is a limitation in the mod_proxy. Have you tried to push your changes upstream? Maybe opened a bug report against mod_proxy?

Now that 8 kb can be easily exceeded via X-JSON's overhead, I don't get why the limitation is at 8 kb and not at ~512 kb or higher. It depends on what the limitation is good for. Of course there might be a reason for a

[2016-05-15 16:20] Toccamonium opened #239 "Configuration for editors to set via page attributes noindex?"
Hi, thanks for this useful extensions. Question: did I miss something, but I actually need a TScript snippet which reacts on editors input for pages to set noindex/nofollow, etc. How can this be achieved? Right now I'm setting this manually via tmpl on the existing page.

regards
Florian

[2016-05-17 09:10] rafu1987 commented on #233
Actually not - the limitation is not specifically set in the mod_proxy module but in the httpd configuration - line 303: https://github.com/apache/httpd/blob/50cc09dfef9786d7b732d7a14e4b6ed969f6dece/include/httpd.h

`#define HUGE_STRING_LEN 8192`

It is then used in different Apache proxy modules.

Well, the issue was hard to track down, you're right. But I think there are enough hosting providers

[2016-05-19 07:50] rafu1987 commented on #233
Hello again :)
I also found this on stackoverflow with two high rated answers about header limits:

http://stackoverflow.com/questions/686217/maximum-on-http-header-values

Maybe that helps.

[2016-05-19 10:08] thomaszbz commented on #233
Thanks. In academic terms this is not a bug in metaseo as there is no limit for http headers defined in the http standards (according to your link).

In practical terms, the headers limit (8k) of major web servers will not change soon just because TYPO3/metaseo uses so many headers. Which means that we have to investigate if we can get rid of some of the headers we use.

Could you please send me s

[2016-05-19 10:11] thomaszbz commented on #225
Reopened #233 because reality check against major web servers indicates that we should limit the number of headers to make metaseo usable on major web servers.

[2016-05-19 10:19] rafu1987 commented on #233
Hey - sure here's an example of the response headers with depth 2 in metaseo backend module:

[code]

[2016-05-19 13:30] pcvolkmer commented on #233
What is the purpose of repeating response body in a custom response header "X-JSON"?

[2016-05-19 14:31] thomaszbz commented on #233
A X-JSON http header for regular data does not make sense to me either. To my knowledge, this has also not changed in metaseo 2.0.0. But I will definitely investigate on this. I'll have to reproduce it first.

[2016-05-27 19:37] pcvolkmer commented on #233
I have done some research and guess the issue is related to https://forge.typo3.org/issues/50509. Please note the related [changeset](https://forge.typo3.org/projects/typo3cms-core/repository/revisions/3124ebb4df25fa3712faa51e1624a2e96c38fe8e/diff/typo3/sysext/core/Classes/Http/AjaxRequestHandler.php).

I have compared this changeset with the Typo3 version[ 6.2.19](https://forge.typo3.org/projects

[2016-05-27 19:49] thomaszbz commented on #233
@pcvolkmer Thanks for the hint. That brings us much closer to a patch.

[2016-05-27 20:04] pcvolkmer commented on #233
I have prepared #240 and within my tiny local testing environment without proper data it sends response via HTTP body not within X-JSON header any more.
I would prefer @rafu1987 should also take a look at it if it fixes his issue for his larger environment.

[2016-05-27 20:39] thomaszbz commented on #233
Yes, would be great if @rafu1987 could test your change in his full-blown hosting setup.

It looks as if forge #50509 never made it into 6.2.x

    git branch
    * (losgelöst von TYPO3_6-2-25)
    git log |grep 50509
    <empty>

    git checkout TYPO3_7-6-9
    HEAD ist jetzt bei ecc5525... [RELEASE] Release of TYPO3 7.6.9
    git log |grep 50509
    Resolves: #50509 <-- from commit message

[2016-05-27 20:52] thomaszbz commented on #233
Reproduced that json data is in the http header, using 6.2.25 and ``const CONTENT_FORMAT_JSON = 'json';``:

    X-JSON: {"results":12,"rows":[{"uid":"67","pid":"2","t3ver_oid":"
    [...]
    ","author":"","author_email":"","lastupdated":"0","pid":"67"},"_depth":2}]}

That can easily exceed a limit of 8kb for the http headers section.

Any version of 6.2.x should be affected together with metaseo

[2016-05-27 21:21] rafu1987 commented on #233
Thanks for all the information! I will test it on monday in our local environment and some hosting environments, where the error occured, too.

As of metaseo 1.0.x: We used that version on the same local environment as we do now and did not encounter any problems.

[2016-05-27 22:15] thomaszbz commented on #233
#50509 should have been classified as a bug, as common hosting environments were broken by the ~8kb limit. If it had been a bug, there would also have been a chance that the patch had been backported. Now that #50509 was classified as a feature, there was no formal "need" for a backport to 6.2.x.

https://forge.typo3.org/issues/76340 tries to heal that. Anyhow, I'd still apply 958bce9 because we n

[2016-05-28 12:49] thomaszbz commented on #233
76340 will not make it to a code change in 6.2.x core (according to https://forge.typo3.org/issues/76340 ).

[2016-05-28 19:08] thomaszbz commented on #233
@pcvolkmer please add yourself to the list of contributors at https://github.com/mblaschke/TYPO3-metaseo/blob/develop/Documentation/Introduction/Index.rst

[2016-05-28 19:14] thomaszbz opened #241 "Tell contributors to add themselves to the list of contributors"
Contribution section of main readme.md: Tell contributors to add themselves in https://github.com/mblaschke/TYPO3-metaseo/blob/develop/Documentation/Introduction/Index.rst via their PR.

[2016-05-28 19:58] thomaszbz opened #242 "Move to Doctrine ORM"
Starting with TYPO3 CMS 8.1, we can use Doctrine-ORM and get rid of the classic "ORM" of typo3.

We can do this as soon as we drop support for TYPO3 CMS 7 LTS.

https://typo3.org/news/article/typo3-v81-tightening-the-screws/

[2016-05-30 07:54] rafu1987 commented on #233
@thomaszbz @pcvolkmer We tested #958bce9 on our local setup and with the change to `jsonbody` it works perfectly! Thanks to all! :)

[2016-05-30 09:27] thomaszbz commented on #233
Great. I'll merge 958bce9 asap. A new bug fix release is already scheduled, together with @mblaschke .

Thanks to @pcvolkmer @rafu1987 for all the investigation and the patch. We'd appreciate your help during the ongoing development of metaseo. We're also on [slack](https://typo3.slack.com/messages/ext-metaseo/), if you want to contact us quickly.

[2016-05-30 11:53] thomaszbz commented on #226
@kjeldschumacher what happens if you disable metaseo-extension temporarily via extension manager?

[2016-05-30 12:41] thomaszbz commented on #225
@the-robman would you like to test the patch in #233? With the patch applied, metaseo should also work with your previous setup.

[2016-05-30 22:32] thomaszbz commented on #233
Added @pcvolkmer to the list of contributors via 1465743f659e1fab72628aaf7f80b82fc13fcb8d.

[2016-05-30 22:34] #233 closed

[2016-05-31 13:58] thomaszbz commented on #239
Could you please explain your requirement more in detail?

- Do you want your TypoScript to set noindex/nofollow depending on editors' input? Which input
- Do you want your TypoScript to read the noindex/nofollow (set by editors) and do some other fancy stuff? That would simplify your question to "How can I read noindex/nofollow from TypoScript?".

[2016-06-01 13:33] Toccamonium commented on #239
It seems, that I found an solution here: https://jweiland.net/typo3/codebeispiele/typoscript/seiten-von-suchmaschinensuche-ausschliessen.html

Well, in contao the editor has an select to choose what he/she needs: https://www.dropbox.com/s/hfpzhrovck5mbs2/01-06-_2016_15-30-29.png?dl=0 and the selected option will be placed in the page header.

I'm using 2.0.0.

[2016-06-01 15:10] thomaszbz commented on #239
Great. So I guess you got it solved.

[2016-06-01 15:10] #239 closed

[2016-06-05 16:53] thomaszbz opened #244 "TYPO3 v8.1: Use Guzzle Request Factory for AJAX requests/responses"
Use Guzzle Request Factory for Ajax requests/responses. Guzzle made it into TYPO3 as of v8.1 (as a composer dependency).

Guzzle automatically uses best solution to handle http requests (cURL or Stream Wrapper). This seems to be an optional refactoring step (it's not a breaking change, hopefully).

Can be done as soon as we drop support vor TYPO3 v7 LTS

http://de.slideshare.net/plobacher/typo3-cm

[2016-06-06 00:36] thomaszbz opened #245 "Piwik/GA inline script requires CSP "unsafe-inline""
When Content-Security-Policy (CSP) is used with a http header `Content-Security-Policy`, then we get a problem with the inline javascript:

To not block the piwik javascript via CSP, the CSP header must be set together with `script-src 'unsafe-inline'`. This works fine, however is it considered [unsafe](https://www.htbridge.com/websec).

As of TYPO3 6.2, this is not an issue, because the TYPO3 bac

[2016-06-06 09:45] npoggenburg opened #246 "Duplicated entries after renaming page"
After renaming a page, there are two versions of this page in the sitemap.
Renamed test -> page
to
test -> page 2 in Backend and i get this result:

`<url>
    <loc>https://www.domain.de/test/page/</loc>
    <lastmod>2016-06-06T11:03:57+02:00</lastmod>
    <priority>0.33</priority>
</url>
<url>
    <loc>https://www.domain.de/test/page-2/</loc>
    <lastmod>2016-06-06T11:26:43+02:00</lastmod>
    <

[2016-06-06 16:21] thomaszbz commented on #246
Which version of metaseo and TYPO3 are you using?

This issue looks like a duplicate of #78. There's also a workaround mentioned (which, however drops all entries. Entries shout get restored over time.)

[2016-06-07 08:05] npoggenburg commented on #246
Thanks for your fast answer.

We are using TYPO3 7.6.9 and metaseo 2.0.0
Both the newest versions.

[2016-06-09 15:48] timwehrmann opened #247 "Copying a root page throws an error"
Hi Markus,

when I try to copy a rootpage, there is an error message displayed that says _"[1.3.-1]: Attempt to insert record on a page that can't store record type"_. The reason is, that on the page is a hidden record of type "tx_metaseo_setting_root", which is not allowed to be placed on pages.

However, if I delete the record from the page, the copy process does not throw an error.

**Informati

[2016-06-10 00:58] thomaszbz commented on #247
Btw.: It would be great if TYPO3 CMS could output the _name_ of the record type to users. If you want, you could file an issue via typo3-forge. But that's another story.

The error is thrown by TYPO3 core, presumably:

https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_6-2/typo3/sysext/core/Classes/DataHandling/DataHandler.php#L3211

https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_7-6/typo3/sysext/core/C

[2016-06-10 03:39] thomaszbz opened #248 "Integrate github's issue templates"
When user creates a new issue, we can default to some text in the form to make clear that we need version numbers at least. Saves time on both sides.

https://github.com/bumptech/glide/issues/332
https://github.com/isaacs/github/issues/99
https://github.com/kvirc/KVIrc/tree/master/.github

[2016-06-10 05:26] timwehrmann commented on #247
Hi Thomas,

first of all: Thank you for your very fast response. :-)

And yes, this workaround works. But I wonder: Why just not enable this data record on normal pages?

I also know now, how the record came there: As far as I can tell, the record is placed using the "Control Center" module in the SEO section. If I click there on a root page, that data record is created on that root page. So from

[2016-06-10 05:43] thomaszbz commented on #247
Yes. Which would mean that your workaround should also be available to ordinary users, without tweaking TCA settings.

Your solution might be suitable. I'll have to reproduce the whole issue first. We need to consider that the user unintentionally has more "metaseo roots" after the copy operation. We'll have to figure out if this could have really bad implications. But I think it is shown in the S

[2016-06-16 09:26] clicsoft commented on #189
Hi there, we have the same problems with Typo3 7.6.6 and metaseo 2.0.0:
Not one backend module of can be opened since this error :-(

`Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1285067843: A back-end form protection may only be instantiated if there is an active back-end session. | TYPO3\CMS\Core\Error\Exception thrown in file /home/httpd/vhosts/xxxxx/httpdocs/typo3_src-7.6.6/typo3

[2016-06-16 09:43] thomaszbz commented on #189
@clicsoft Please follow the steps which were already mentioned. I could not reproduce it because the original reporter can't reproduce which step finally helped.

That's also my experience with TYPO3-updates: Clear all the caches multiple times, play around, and at some point the magic happens and everything works (without any change...).

Did the problem occur after you updated from 6.2 to 7.6.6?

[2016-06-16 10:04] clicsoft commented on #189
@thomaszbz Yes we did upgrade. But not to 7.6.6 - to 7.6.1. I think that sometimes it really worked. Otherwise we wouldn't have use for this. Now it doesn't work anymore.
Sorry don't have time to play around. Did now cleared alle caches and system cache for about 30 times. No success :-(

[2016-06-16 10:14] thomaszbz commented on #189
Can you try to clear caches and php opcode cache in the install tool?

Please click the corresponding install tool buttons multiple times and in multiple order. It sounds strange, but I experienced myself multiple times that this can help.

In case you cannot access the install tool via backend, you still can access it with the install tool's direct url ``www.example.com/typo3/install``

[2016-06-16 13:31] clicsoft commented on #189
We already tried it with manually clearing all file and datebase-caches, within typo3 backend and within Install Tool. Nothing worked.

[2016-06-16 13:37] thomaszbz commented on #189
@kersten Could you please help out? Maybe you can tell us your solution?

@clicsoft Do you want to manually test the FQDN refactoring which @kersten provided?

[2016-06-16 13:51] clicsoft commented on #189
@thomaszbz OK, will have a look soon.

[2016-06-16 13:54] thomaszbz commented on #189
Btw, are you using PHP7 like @kersten?

[2016-06-16 13:55] clicsoft commented on #189
Nope, PHP 5.6

[2016-06-16 19:46] timwehrmann commented on #247
Didnt think about this, you might be right with this.

[2016-06-16 19:54] thomaszbz commented on #247
It was just a thought. I'd rather say that we can risk this as long as the user can correct additional metaseo roots in the metaseo tab. Should be easy to do. Better than unexpected errors thrown by TYPO3. Which, on-top, are hard to track down. That's at least a bug which needs to be fixed (I still did not try to reproduce it yet).

[2016-06-20 08:10] albert-spangler commented on #226
i have the same problem:
"Die Ausführung von Task "Sitemap.xml builder (metaseo)" ist fehlgeschlagen mit folgender Meldung: No TypoScript template found!"

[2016-06-20 09:23] thomaszbz commented on #226
@albert-spangler Which versions of metaseo, TYPO3 and PHP are you using?

[2016-06-20 11:11] albert-spangler commented on #226
typo3 7.6.3
metaseo 2.0.0 beta
PHP 5.5.9

[2016-06-20 11:25] thomaszbz commented on #226
Great. Your versions should work according to the tests I made. Did you upgrade metaseo or TYPO3 recently?

Please make sure that you clear all caches after the upgrade multiple times in different order. Please include cache and opcode in TYPO3's upgrade tool as well as the orange system cache button which can be enabled via the install tool. Please make sure that you play around with clearing cac

[2016-06-29 15:03] clicsoft commented on #189
@thomaszbz Sorry Thomasz, I have no time at all to dig in any further at the moment.
Maybe I'll have a chance later after summer months.

[2016-06-29 18:09] kersten commented on #189
Sorry guys for not responding to this in the last days. @thomaszbz I was using PHP7 but after not getting other extensions to work, I switched back to PHP5.6.

I can't remember what finally helped, but testing if the FQDN fix would be nice to see if this fixes the error.

I've fixed a lot of other extensions and tested out some stuff with PHP7 but never got this error with other exts. And from now

[2016-06-30 02:48] thomaszbz opened #249 "PHP7: Testsuite fails with "DatabaseUtility::conditionIn() must be of the type array, string given""
PHP version 7.0.4-7ubuntu2.1, metaseo 2.0.1 develop at 7f595ae25afe3936fb12832491ae02a4b32e39fa

Testsuite fails with

    Argument 2 passed to Metaseo\Metaseo\Utility\DatabaseUtility::conditionIn()
    must be of the type array, string given, called in /home/thomas/75_phpstorm
    /metaseo/Tests/Unit/Utility

    /DatabaseUtilityTest.php on line 120
     /home/thomas/75_phpstorm/metaseo/Classes/U

[2016-06-30 03:00] #249 closed

[2016-06-30 04:02] thomaszbz opened #251 "Fix remaining FQDN Namespaces"
There's still some namespaces that can be imported.

Related: #189

[2016-06-30 04:55] #251 closed

[2016-06-30 05:00] thomaszbz commented on #189
Found a bunch of namespaces to be imported via #252.

Still, this issue is not reproduced as a bug as it rather looks like a caching issue.

If someone get's this error again with f727717cc7816db95d09c105085164cde177cadd and later (2.0.1 as soon as we release it), please report back that you still get this error.

Technically, f727717cc7816db95d09c105085164cde177cadd will not fix this issue as imp

[2016-06-30 07:25] thomaszbz commented on #247
reproduced against f727717cc7816db95d09c105085164cde177cadd (metaseo 2.0.1 develop), TYPO3 7.6.9, PHP 5.6. I also checked that it is really a record of metaseo and not from another extension (with some debug code):

    Attempt to insert record on a page that can't store record of type tx_metaseo_setting_root.
    #0 /var/webadmin/typo3_src/typo3/sysext/core/Classes/DataHandling/DataHandler.php(36

[2016-06-30 07:57] thomaszbz commented on #247
80f3152 mitigates the error. The metaseo_settings_root record is copied. I applied the fix you proposed. Thanks for pointing this out.

@timwehrmann I'd be happy if you could report back if the problem is solved. I did not test a lot if the patch has further implications. At least the error message is gone, hopefully.

[2016-06-30 07:59] #247 closed

[2016-06-30 08:02] bitmotion commented on #247
I will try it out and give feedback as soon as I got some free time _(probably in todays afternoon)_. :-)

[2016-06-30 09:28] thomaszbz commented on #247
I filed an issue against TYPO3 core for the logged messages: https://forge.typo3.org/issues/76885

[2016-06-30 16:08] timwehrmann commented on #247
The error message does not pop up any more when copying a page with a _tx_metaseo_setting_root_ record on it with 80f3152. Nice, thank you very much. 👍 :-)

[2016-07-01 13:33] KreativeKrise commented on #125
As a workaround for the canonical you could disable the canonical functionality of metaseo with `plugin.metaseo.metaTags.useCanonical = 0` in your constants and  use plain TypoScript:

[code]

[2016-07-01 13:51] thomaszbz commented on #125
I'm not sure if this is still an issue.

In the meantime, we disabled up/next/prev because at least google then thinks this is some sort of pagination or a fragmented text. In that case, google will lead visitors to the first page, as long as there is no version of the page containing all "fragments". That was done via #202.

@KreativeKrise What's the improvement of the canonical tag you provide v

[2016-07-01 13:53] KreativeKrise opened #254 "White-/Blacklist for sitemap parameters"
Would it be possible to add a constant where we can set a white- or blacklist for GET parameters? Often there are URLs with tracking parameters like "utm_source".

It would be nice to exclude URLs with such parameters from the sitemap generation.

Or is that already possible? I didn't find any information..

Thank you in advance!

[2016-07-01 14:06] thomaszbz commented on #254
Which version of metaseo, TYPO3 and PHP are you using? Do you have realurl enabled and which version do you use?

I get the idea: These parameters can lead to duplicate content (multiple URLs with same content). For instance, you can also exclude these parameters at e.g. google search console and e.g. piwik analytics (while the latter does not use metaseo's sitemap).

How exactly do you create the

[2016-07-01 14:23] KreativeKrise commented on #254
Metaseo 1.0.8
TYPO3 6.2.25
PHP 5.4.41

Realurl is enabled.

These parameters are created by an external newsletter service. It adds the tracking parameters for Google Analytics to the links inside the newsletter.

I will try version 2.0.0 on Monday if it maybe fixes the problem!
The canonical tag I have to check also on Monday because I don't use the functionality of metaseo.
So I will response on

[2016-07-01 14:54] thomaszbz commented on #254
I'm not sure if 2.0.0 fixes the problem, but we fixed many many bugs since 1.0.8. 1.0.x is not supported any more (We still support 6.2 with 2.0.0).

But there's one regression which is not yet fixed in 2.0.0: #233 in case you have a full-blown hoster's environment, together with TYPO3 6.2. A fix is available in metaseo's develop branch, however.

[2016-07-04 07:53] KreativeKrise commented on #254
I tried 2.0.0 and URLs with "wrong" GET-parameter generate an entry inside the sitemap.xml.
An option similar to `metaTags.canonicalUrl.strict = 1` for the sitemap.xml would be great. Even better would be a whitelist for GET-parameters :)

[2016-07-04 18:28] thomaszbz commented on #254
What happens if you use a parmeter which is new to TYPO3 (not configured somewhere)?

E.g. `http://www.example.com/some-page.html?thisisnew=1`

[2016-07-05 08:48] KreativeKrise commented on #254
If I add a parameter like `?thisisnew=1` then it generates a new sitemap entry.
The canonical tag is fine, as long as I use `metaTags.canonicalUrl.strict = 1`.

[2016-07-05 08:52] KreativeKrise commented on #125
@thomaszbz there is no improvement, it's just a workaround for the canonical problem @georg-tiefenbrunn had. But you are right, at least version 2.0.0 fixed the described behaviour!

[2016-07-05 09:31] thomaszbz commented on #125
Fine, if it's fixed in metaseo 2.0.0 I'm going to close this issue.

If someone else has this problem after 2.0.0, please file a new issue and refer to #125.

[2016-07-05 09:31] #125 closed

[2016-07-08 14:10] albert-spangler opened #255 "Scheduler - Error during run Sitemap.txt builder (metaseo)"
TYPO3 Version: 7.6.6 and 7.6.9
MetaSEO Version: 2.0.0

If I run the scheduler task I get an error:

_Execution of task "Sitemap.txt builder (metaseo)" failed with the following message: PHP Warning: Invalid argument supplied for foreach() in /var/www/.../typo3conf/ext/metaseo/Classes/Sitemap/Generator/TxtGenerator.php line 66_

It seems that in the AbstractGenerator.php in line 118  _$list = Sitem

[2016-07-08 14:41] albert-spangler commented on #255
The frontend language is default so in the tx_metaseo_sitemap table page_language is 0.

The MySQL statement which is generated in SitemapUtility::getList($this->rootPid, $sysLanguageId) looks like:

SELECT ts.*
                    FROM tx_metaseo_sitemap ts
                            INNER JOIN pages p
                              ON    p.uid = ts.page_uid
                                AND p.

[2016-07-08 14:46] thomaszbz commented on #255
... which means that `$languageId` is set while function `getList($rootPid, $languageId)` is called. That must have happened in `AbstractGenerator` line 113:

    $sysLanguageId = GeneralUtility::getLanguageId();

[2016-07-08 15:05] thomaszbz commented on #255
The SQL statement you provided has a condition

    AND ts.page_language = 1

... which means that `$languageId` is set while function `getList($rootPid, $languageId)` is called. That must have happened in `AbstractGenerator` line 113:

    $sysLanguageId = GeneralUtility::getLanguageId();

That function defaults to `0`:

    public static function getLanguageId()
    {
        $ret = 0;

[2016-07-08 15:18] albert-spangler commented on #255
Ok. I changed my root-template.ts
    sys_language_uid = 0
into
    sys_language_uid = 1
I deleted all records in BE -> Sitemap -> Sitemaps. After revisit the sites all new records in the database have now have page_language = 1 and the return of $list['tx_metaseo_sitemap'] in an array.

config.sys_language_uid = 0 still returns an error

But ...

I have 5 website languages on my very first root p

[2016-07-08 15:20] thomaszbz commented on #255
What does the SQL look like and what's the result of it now?

[2016-07-08 15:48] thomaszbz commented on #255
aee8da8 is for the handling of an empty sitemap only. So it gets rid of the runtime error and outputs an empty site map accordingly. Tested with 7.6.10.

Is your sitemap still empty?

[2016-07-08 17:19] thomaszbz commented on #255
In principle, language iteration is working with 2.0.0.

For a sitemap, I get

https://example.com/index.php?id=4
https://example.com/index.php?id=4&L=1
https://example.com/index.php?id=4&L=2

[2016-07-08 17:28] #255 closed

[2016-07-08 20:49] thomaszbz opened #257 "Country flags and icons are broken in 7.6.0"
Flags are rendered as a red X in Metatag/Seo section

Metatag/SEO section:
![auswahl_008](https://cloud.githubusercontent.com/assets/11200727/16707075/00eba7fc-45c4-11e6-8234-0d1ae53b85a4.png)

Sitemap section:
![auswahl_007](https://cloud.githubusercontent.com/assets/11200727/16707074/00e8f11a-45c4-11e6-8fd7-01e62b4a894d.png)

Languages are configured and TYPO3 shows the country flags:
![auswahl_

[2016-07-08 20:50] thomaszbz commented on #257
This has been fixed recently in TYPO3 core:

https://forge.typo3.org/issues/68217
http://review.typo3.org/41478

[2016-07-08 21:53] thomaszbz commented on #257
In a later patch the css classes for the flags we use got removed. This happened in an unreleased 7.6.10-dev via https://github.com/TYPO3/TYPO3.CMS/commit/58c46d75099acd8449aded959efe8f031cec13d0

https://github.com/TYPO3/TYPO3.CMS/commits/TYPO3_7-6/typo3/sysext/core/ext_tables.php

[2016-07-08 23:01] thomaszbz commented on #257
At least the flags are broken in metaseo 2.0.0 together with TYPO3 7.6 because of a change in TYPO3 7.6. This is not a regression in metaseo 2.0.0 but maybe we need a compatibility fix for 7.6.x or TYPO3 7.6 core needs to be fixed.

I filed a forge-issue to see if the (breaking) change was intended behaviour and if we need to patch this _now_ or if TYPO3 patches it so that we can patch it as soon

[2016-07-09 08:42] thomaszbz commented on #226
@albert-spangler Is this still an issue?

[2016-07-09 09:22] thomaszbz commented on #237
Trying to reproduce with metaseo 2.0.0, TYPO3 7.6.10-dev, PHP 5.6.

I used 10 entries for the page size: `MetaSeo.sitemap.conf.pagingSize = 10`.

Steps to reproduce:

![auswahl_010](https://cloud.githubusercontent.com/assets/11200727/16707222/31026ebe-45c7-11e6-9d7a-ec19895fd191.png)
![auswahl_011](https://cloud.githubusercontent.com/assets/11200727/16707220/30ffdf6e-45c7-11e6-9659-642fcddd0e9b.pn

[2016-07-09 09:33] thomaszbz commented on #237
This time the _last_ page is deleted.

Trying to reproduce with metaseo 2.0.0, TYPO3 7.6.10-dev, PHP 5.6.

I used 10 entries for the page size: `MetaSeo.sitemap.conf.pagingSize = 10`.

# Steps to reproduce:
![auswahl_014](https://cloud.githubusercontent.com/assets/11200727/16707279/9855b8c2-45c8-11e6-84e2-d2eda5d4d379.png)
![auswahl_015](https://cloud.githubusercontent.com/assets/11200727/16707280

[2016-07-09 09:52] thomaszbz commented on #237
It's a rendering bug in the sense that `Page 3 of 2` looks strange. On the other hand this is consistent with staying on the same page when the deletion happens somewhere in the middle.

I think it is dangerous to let the user think that he or she always deletes the _next_ page until the last page comes and suddenly the user could be tricked into deleting the _previous_ page unwllingly.

Therefore

[2016-07-09 09:54] #237 closed

[2016-07-09 12:33] thomaszbz commented on #236
4615326 was tested against 7.6.10-dev. @PanadeEdu would you like to test against 6.2?

[2016-07-09 21:16] thomaszbz commented on #214
Testing with current develop 2.0.1-pre 162bd42f0e7a232234e28b68301c07ed048601d7

## Reproduce with:

        $connector->setMetaTag('testMetaKey', 'testMetaValue'); //expected: no output
        $connector->setCustomMetaTag('testCustomMetaKey', 'testCustomMetaValue'); //expected: custom output
        $connector->setOpenGraphTag('title', 'titleContent'); //expected: overwrite og:title
        $con

[2016-07-09 21:25] thomaszbz commented on #214
Testing with my patch d006238:

## Expected:

    <meta property="og:title" content="titleContent">
    <meta rel="testCustomMetaKey" href="testCustomMetaValue">

## Actual Result:

<meta property="og:title" content="titleContent">
<meta property="og:newOgKey" content="newOgContent">
<meta rel="testCustomMetaKey" href="testCustomMetaValue">

So d006238 it is overwriting `og:title` and has correct

[2016-07-09 21:59] thomaszbz commented on #214
Testing with my patch 28a1799:

## Expected:

    <meta property="og:title" content="titleContent">
    <meta rel="testCustomMetaKey" href="testCustomMetaValue">

## Actual Result:

    <meta property="og:title" content="titleContent">
    <meta rel="testCustomMetaKey" href="testCustomMetaValue">

That matches quite well.

[2016-07-09 23:10] thomaszbz commented on #214
#215 suggests to have custom opengraph tags, which is a new feature to metaseo (as tested on develop 2.0.1-pre 162bd42).

d006238 already had this feature using `setOpenGraphTag()` but I removed it intentionally via 28a1799. 28a1799 is just for the bugfix.

Having custom opengraph tags can be classified as a new feature.

[2016-07-09 23:40] thomaszbz commented on #214
Testing with 3c3d167

## Reproduce with:

        $connector->setMetaTag('testMetaKey', 'testMetaValue'); //expected: no output
        $connector->setCustomMetaTag('testCustomMetaKey', 'testCustomMetaValue'); //expected: custom output
        $connector->setOpenGraphTag('title', 'titleContent'); //expected: overwrite og:title
        $connector->setOpenGraphTag('newOgKey', 'newOgContent'); //expe

[2016-07-09 23:44] #214 closed

[2016-07-21 03:01] thomaszbz commented on #189
There's a bugfix in the pipeline which affects 7.6.10:

https://forge.typo3.org/issues/76995
https://review.typo3.org/48379

The patch is not merged yet, so the corresponding -dev branches will not contain it yet.

If it fixes this issue in the core, it's invalid for metaseo.

Folks affected by this issue, please make sure that forge-issue 76995 makes it into 7.6.11 and use 7.6.11. If you are stil

[2016-07-22 05:36] thomaszbz commented on #61
I assume this has been fixed. With the new config variables it looks more like a new feature.

[2016-07-22 05:37] #61 closed

[2016-07-23 17:50] thomaszbz opened #259 "Remove type hinting code?"
PhpStorm can automatically handle dynamic return types for objects which are instanciated via `GeneralUtility::makeInstance` and `ObjectManager->get`.

This can be achieved by installing a PhpStorm plugin called `dynamicReturnTypePlugin`.

https://wiki.typo3.org/Development/PHPStorm_Settings

This issue is open for discussion if we still want to maintain `@var` type hinting code like

[code]

To m

[2016-07-25 11:21] thomaszbz opened #260 "Cache piwik.js server-side"
We are serving piwik.js from the source given by configuration (e.g. other domain or subdomain). Serving is done asynchronically for piwik.js so that it should already be served non-blocking.

There's two issues with that:
- Changes in piwik.js do not make it to the user instantly as there is no reason for browsers and proxies to fetch an updated version.
- Connecting to another domain requires a

[2016-07-27 10:49] thomaszbz commented on #247
Thanks for reporting back.

Thanks to a patch provided by Benni Mack, error logging in TYPO3 CMS now improved a lot by naming the affected table and thereby disclosing the "guilty" extension. In addition, logging of the operation is not misleading any more.

The fix also got backported to 7.6 branch and will be published with the next release, presumably 7.6.11.

https://forge.typo3.org/issues/768

[2016-08-17 09:13] itribe opened #261 "Page title can't be editable via "SEO - MetaTags" module"
When I logged like a editor and used "SEO - MetaTags" I can't edit a page title:
https://monosnap.com/file/8rEVoy9IADFzmtk17eNYYvCcDUL3qC
But I can edit the page title via default page editing: https://monosnap.com/file/XPpb8lJu9ZtteL3El7Q74qnkCWuSuh

Permissions for this field were granted.
All other fields work fine.

If I use admin account all fine.

TYPO3 7.6.10
metaseo 2.0.0

[2016-08-23 15:15] danilovq commented on #261
The reason is that "title" field is not excluded field for pages and pages_language_overlay tables. The checking `$this->getBackendUserAuthentication()->check('non_exclude_fields', 'pages:' . $fieldName)` in [AbstractPageSeoController.php](TYPO3-metaseo/Classes/Controller/Ajax/AbstractPageSeoController.php) returns false for title field always.
@thomaszbz I can provide a pull request, if you will

[2016-08-23 22:39] thomaszbz commented on #261
Steps to reproduce against metaseo 2.0.1-dev 2955b3b2bd75e38561a5124b79a20780f662c2c5, TYPO3 7.6.11-dev:

- configure non-admin user with write access to page properties, switch to that user
- click "SEO/Metatags" in left sidebar
- click page to edit
- click "Page Title" in dropdown
- click item in "Page" column to edit the page title
- edit title and click "save" button

As admin user: Works as e

[2016-08-23 23:02] thomaszbz commented on #261
Checking just by `$fieldName` equals `"title"` would not be valid because we still need to check if the user has access to the data object. We need to go through the infrastructure TYPO3 provides. That implies that we need to check access permissions in the same manner as TYPO3 usually does it.

I'd be happy to merge your PR. I'll assign you this issue as long as you are working on it. Please let

[2016-08-24 07:47] mathias-noethiger opened #262 "What is the meaning of Blacklist"
I've created a new page which should not be indexed (e.g. 404 Page for Users).
In the page properties, tab SEO, I activated the checkbox "exclude page from search engines" and I also excluded it from "indexes search".
I then checked the sitemap. The new page was still listed there.

What do I have to do next?
- just remove the page over the sitemap tool? Or will it appear again after the next site

[2016-08-24 08:19] thomaszbz commented on #262
Please upgrade to metaseo 2.0.0. It contains a lot of bug fixes compared to 1.0.8.

Make sure you clear all caches, including opcode cache (can be found in install tool). If the problem still occurs, you might want to delete all entries in the sitemap manually as a one-time administrative task.

Please report back if that solved your issue.

[2016-08-24 08:55] danilovq opened #264 "Missing arguments after signal slot dispatching"
Signal slot dispatcher returns passed arguments as array and arguments which were passed as references are missing after dispatching.

TYPO3 7.6.10
metaseo 2.0.0

[2016-08-24 08:57] danilovq commented on #264
I prepared the [fix](https://github.com/danilovq/TYPO3-metaseo/commit/1a9e756656ea569dcbfa9e0ab8cad94bc8c96ffd)

[2016-08-24 10:13] thomaszbz commented on #264
Thanks for the fix. I fully agree, that looked strange. I'm just wondering why this issue was not discovered earlier. Either you fixed a lot of bugs or we don't do much with the returned `$args`. I'll have to investigate which effect the fix actually has, besides the intended ones. At least, it might change some behaviour.

For the record:

    public static function callHookAndSignal($class, $nam

[2016-08-24 11:32] thomaszbz opened #266 "Privacy-aware GA tracking code"
@c2po reported via PR #265:

https://www.datenschutzbeauftragter-info.de/fachbeitraege/google-analytics-datenschutzkonform-einsetzen/
https://developers.google.com/analytics/devguides/collection/analyticsjs/ip-anonymization
https://support.google.com/analytics/answer/2763052?hl=en

[2016-08-24 11:47] thomaszbz commented on #266
All versions of metaseo are affected by this issue: https://github.com/c2po/TYPO3-metaseo/blame/1.0.0/Resources/Private/Templates/PageParts/ServiceGoogleAnalytics.html#L23

@c2po Thanks for your contribution. Trying to be privacy-aware, I'm not using GA myself, therefore can't test this against a real GA account. Your patch looks valid (according to the examples), but have you been testing it? If

[2016-08-24 12:10] mathias-noethiger commented on #262
That all worked fine. When I activate "exclude page from search engines" the page get automatically the status "YES" in the sitemap overview and the new column "Excl."

I'm still wondering what is the idea of having "blacklist" "withelist" options. I could not find anyting in the documentation nor TYPO3 help.

[2016-08-24 12:47] thomaszbz commented on #262
As far as I understand it, blacklisted pages are supposed to not be indexed, while indexing is done when a page is _requested_ by a user. Of course, indexing is heavily cached for performance reasons.

https://github.com/mblaschke/TYPO3-metaseo/blob/develop/Classes/Hook/SitemapIndexHook.php#L221
https://github.com/mblaschke/TYPO3-metaseo/blob/develop/Classes/Hook/SitemapIndexHook.php#L252
https://

[2016-09-06 14:08] dsteinborn commented on #190
Run into the same problem and found the reason. `config.absRefPrefix` is set to `/` then in `processLinkUrl` of `SitemapIndexHook.php` absRefPrefix is removed from `$linkUrl`. The Link for the home page is now empty and will not pass `GeneralUtility::checkUrlForBlacklisting`.

Temporary solution is to enable "TypoLink indexer" and add a TypoLink to the home page with `forceAbsoluteUrl = 1`.

[2016-09-06 14:25] thomaszbz commented on #190
@dsteinborn Which is your metaseo and TYPO3 version?

[2016-09-06 17:49] dsteinborn commented on #190
@thomaszbz TYPO3 7.6.10 and Metaseo 2.0.0 beta

[2016-09-13 11:03] thomaszbz opened #268 "cHash: Check for side effects of security fix typo3-core-sa-2016-022"
TYPO3 6.2.27 and 7.6.11 introduce changes to cHashes in respect to caching.

It looks like the new behaviour (which also fixes the security issue) must be activated _manually_ on existing pre-7.6.11 installations with a newly introduced configuration variable.

[code]

![cHashIncludePageId](https://cloud.githubusercontent.com/assets/11200727/18475804/24d3d8c8-79c8-11e6-8e5b-80ab175410bb.png)

That

[2016-09-13 13:29] thomaszbz commented on #268
TODO:

### Test with metaseo 2.0.0, TYPO3 6.2.26 and just sources updated to 6.2.27

- [ ] Site reachable
- [ ] Site reachable after cleared cache
- [ ] Sitemap reachable after cleared cache

### Test with metaseo 2.0.0, TYPO3 6.2.26 and sources updated to 6.2.27 _and_ `cHashIncludePageId` set to `true`

- [ ] Site reachable
- [ ] Site reachable after cleared cache
- [ ] Sitemap reachable after cl

[2016-09-13 14:00] thomaszbz commented on #254
I've been able to reproduce this issue in the meantime, at least with parameters which are new to TYPO3.
![auswahl_040](https://cloud.githubusercontent.com/assets/11200727/18476628/190840bc-79cb-11e6-9f85-bcd27f03a88a.png)

[2016-09-14 08:23] rafu1987 commented on #233
Hello,

@thomaszbz: When is the bugfix and version 2.0.1 of metaseo gonna make it to the TER?

[2016-09-14 08:29] thomaszbz commented on #233
This week, if @mblaschke finds the time to release it.

[2016-09-14 08:33] rafu1987 commented on #233
Awesome! :thumbsup:

[2016-09-14 14:43] prentice87 opened #269 "News extension canonical problem"
Hi,

I'm using metaseo and news 5.1.0 on t3 7.6.11.
On my blog detail page I can not get the correct canonical URL so I have to set "plugin.metaseo.metaTags.canonicalUrl = 0" in the template setup. If I don't it will only show the url up to the part where the blog title should appear and also this affect rx_shariff as it will only display the URL as well. Once canonical is switched off, rx_shariff

[2016-09-14 16:51] thomaszbz commented on #269
I'm not aware that we had any users talking about rx_shariff yet. If you come up with more details or a patch, it could still be relevant to other users (together with other extensions than rx_shariff).

For the part of the news extension: Could you please make an example, together with some example output?

I assume you are using metaseo 2.0.0 release version?

[2016-09-14 18:19] prentice87 commented on #269
Typo3 7.6.11
Metaseo 2.0.0 beta
rx_shariff 7.3.1

I'm not really any good at extension development. Can you tell me what output you need? I'm glad to provide anything that helps. It's not a huge blog and we write everything ourserlves, so canonical isn't that important to us but Google might have a different opinion :)

If you need an HTML example, here is a link to a blog article from our blog: h

[2016-09-14 18:35] thomaszbz commented on #269
Yes, the canonical seems important, especially in respect to duplicate content.

Now that the canonical tag is disabled in the link you provided, would you please post the output from the html source manually? To do so, you'd have to enable the canonical tag in metaseo temporarily.

[2016-09-14 18:44] prentice87 commented on #269
Okay, here it is
[blog.zip](https://github.com/mblaschke/TYPO3-metaseo/files/473226/blog.zip)

[2016-09-14 18:56] thomaszbz commented on #269
Okay, then for the URL (generated with the news extension)

    https://www.scansail.de/blog/artikel/das-beste-kommt-zum-schluss-segeln-im-herbst/

you get the canonical output:

    <link rel="canonical" href="https://www.scansail.de/blog/">

But instead, you'd like the canonical tag to match with the URL:

    <link rel="canonical" href="https://www.scansail.de/blog/artikel/das-beste-kommt-zum-s

[2016-09-14 19:06] prentice87 commented on #269
Yes exactly. But also it somehow affects rx_shariff as that URL also changes to https://www.scansail.de/blog/
Somwhere where the URL is generated it must be shortend or set to just the page where the article is shown.

[2016-09-14 19:11] thomaszbz commented on #269
Did the problem already occur in 7.6.10 and older? There's been a change in TYPO3 core, recently: #268

[2016-09-14 19:20] prentice87 commented on #269
Unfortunatly I don't know :/ Today I updated news to 5.1.0 and had to fix A LOT of issues because of that and that was one that was left. I already talked to georgringer but it seems this is not a news issue.
I just activated that option and the same keeps happening.

[2016-09-14 19:26] prentice87 commented on #269
Deactivating rx_shariff did not solve the problem btw.

[2016-09-14 19:56] prentice87 commented on #269
I hope there is a solution at some point, till then "mfc_canonical" creates the correct one and doesn't affect rx_shariff.

[2016-09-22 10:31] verdure-tietz commented on #122
I think, this is probably related to https://forge.typo3.org/issues/23736

The stdWrap'ed TypoScript "field" attribute (as cited in https://github.com/mblaschke/TYPO3-metaseo/issues/122#issue-100158622 ) doesn't seem to support pages_language_overlay

[2016-09-22 12:07] thomaszbz commented on #122
@verdure-tietz Thanks for the hint. If it's a bug in TYPO3, we need a workaround for metaseo and/or a bugfix for TYPO3.

Would you please post back to the forge issue that the bug still is present in recent typo3 versions?  To my knowledge, internationalization is a main feature of an enterprise CMS. The forge bug is open for 6 years now.

Even a core bugfix in 8.x/7.6 would not help us if the bug

[2016-09-22 12:46] verdure-tietz commented on #122
@thomaszbz latest post in forge issue 23736 already says that "As far as I can see it is still present on bot 8.2-dev and 7.6.6"

I am running TYPO3 6.2 for this project. For now I switched to seo_basics, I'm afraid...

A workaround would be to select the page from a repository directly (which should result in the language overlay) instead of getting data.field from the cObj. The field name could

[2016-10-06 19:40] thomaszbz commented on #124
[Example](https://developers.google.com/analytics/devguides/collection/analyticsjs/) suggests to use

    ga('create', 'UA-XXXXX-Y', 'auto');

[2016-10-07 10:51] hdi-kw commented on #268
So far I see only improvements after setting cHashIncludePageId =1 in TYPO3 7.6.11 with realurl, tx_news and multi language. Before the metaseo sitemap had over 7000 entries with a lot of garbage. Now the sitemap contains around 450 entries and looks much better.

[2016-10-10 10:54] c2po commented on #266
I tested the change of the order with a real GA account and it worked as expected BUT I do not use gaCustomizationCode. My PR #265 could be be a breaking change for users of gaCustomizationCode. That is why I will delete PR #265.

(Explanation: anbody using gaCustomizationCode must send a pageview again, because it has been sent before the code execution of gaCustomizationCode. With my change anon

[2016-10-10 11:26] thomaszbz commented on #266
I think it would be great to encourage people to use the anonymizeIp feature (while I still have to do my homework and look up if it actually has an effect in respect to avoiding a http request against google server initiated on client side, which would expose the client's IP to google no matter what configuration says). That said, this issue is anyways a bug against metaseo's feature set. Which m

[2016-10-10 13:26] c2po commented on #266
I is valid if you do not use any customization code.
And it is valid if the customization code user is responsible him-/herself for setting anonymizeIp.

I will provide a patch if a customization user acknowleges that following pseudocode will not break his/her customization code:
[code]

Explanation:
Set anoymizeIp before gaCustomizationCode to anonymize contacts to the collection network. And se

[2016-10-10 14:10] thomaszbz commented on #266
Fine, the cite you provide also solves my homework (=> a useless feature if google was evil). However, we should still fix this bug in the hope that the guys at google respect their own feature.

I'd merge your patch for all cases you mentioned. Metaseo 2.0.1 got released a few days ago, which leaves everybody enough time to test the change in the develop branch before we release it (as well as af

[2016-10-25 11:54] ducatisti-bln opened #270 "sitemap - PHP Fatal error: Allowed memory size of 67108864 bytes exhausted"
Hi,

we have a problem with creating the sitemap.xml or sitemap.txt.
The table tx_metaseo_sitemap has around 1.8 Million entries. That's correct.
But
`$list = SitemapUtility::getList($this->rootPid, $sysLanguageId);`
in Metaseo\Metaseo\Sitemap\Generator\AbstractGenerator __construct() dont can handle this.

TYPO3 6.2.23
MetaSEO 2.0.0

We set $TYPO3_CONF_VARS['SYS']['setMemoryLimit'] to  8124M. But

[2016-10-25 12:28] thomaszbz commented on #270
For instance, 1.8 million entries in table tx_metaseo_sitemap sounds to me like you might want to  clean-up everything first. Otherwise, please confirm that you really want to transmit 1.8 million entries to a search engine.

It's not that metaseo is intentionally limited in that respect, rather the contrary. However, we have not been faced with 1.8 million entries right now (to my knowledge, at l

[2016-11-01 17:42] thomaszbz commented on #268
TYPO3 CMS 6.2.28/7.6.12 come up with additional fixes in respect to cHashes:

References:
https://wiki.typo3.org/TYPO3_CMS_6.2.28
https://wiki.typo3.org/TYPO3_CMS_7.6.12

[2016-11-07 21:23] thomaszbz commented on #270
Can't reproduce. Feedback missing.

@ducatisti-bln or other affected users: Please report back if you still think this is an issue.

[2016-11-07 21:23] #270 closed

[2016-11-10 15:59] phathoang opened #271 "TSFE->isStaticCacheble"
In both hooks, typoLink_PostProc and pageIndexing there's a condition that checks $TSFE->isStaticCacheble()

Is it really needed? In the typoLink_PostProc hook it doesn't make much sense. If I'm on a page with  links to 30 subpages, I'd want the subpages to be in the sitemap, even if the page itself has non-cacheable content.

[2016-11-10 17:03] thomaszbz commented on #271
@phathoang Thanks for pointing this out. So, in terms of link structure, your use case would be

    - page (non-cacheable)
        - linked page 1 (cacheable)
        - linked page 2 (eventually cacheable)
        - linked page ... (eventually cacheable)

We'll have to investigate what actually happens. To my knowledge, `linked page 1` should still occur in the sitemap as soon as it is http-reque

[2016-11-11 08:54] phathoang commented on #271
That's right, so if we have 30 subpages we need to visit them all to get them into the sitemap.

The main problem is that $TSFE->isStaticCacheble() also checks if there's anything non-cacheable, so if there's a page.5 = COA_INT (etc..), the sitemap will not generate at all ( probably similar issue in #186 and allowNoStaticCachable was added to "fix" it ).

What problems can it cause, if we remove

[2016-11-11 15:36] thomaszbz commented on #271
@phathoang You seem to be close to a fix that meets your needs. Would you like to provide a pull request?

I'd like to review your fix and see if breaks something.

In your PR, please add yourself to the list of contributors.

[2016-11-25 11:32] ecentral opened #272 "Sitemap.xml builder find hidden root pages"
We are using a multi-domain typo3 6.2.29 system with more then 50 domains. The task "Sitemap.xml builder" also finds hidden rootpages. We used version 2.0.1.

Reason:
The class "getRootPages" in Metaseo\Metaseo\Scheduler\Task\AbstractTask dont ignore hidden pages.

Fix:
Edit this function and add a "AND hidden=0" tho sql query.

[code]

[2016-11-25 12:43] cedricziel commented on #272
Fixed in #273

[2016-11-25 13:29] ecentral commented on #272
Thx 👍

[2016-11-25 13:36] cedricziel commented on #272
No problem. Easy pick. Let's hope for a merge.

[2016-11-25 13:47] ecentral commented on #236
Thx for this patch. I testet it on TYPO3 6.2.29 and it works like a charm.

[2016-11-25 19:24] thomaszbz commented on #272
For the merge, I'll reopen this issue. Will be closed when merge is done.

[2016-11-28 13:58] Moongazer commented on #246
Same issue here, I configured realurl as last step right before website-launch, so all pages having minimum 2 sitemap entries (one before realurl setup, another one with the correct speaking url). I've to manually delete the wrong records from the database (```tx_metaseo_sitemap```) to cleanup the sitemap, I could not find any another working solution.

TYPO3 7.6.12
metaseo 2.0.1
realurl  2.1.5

[2016-12-04 20:34] #266 closed

[2016-12-04 20:45] thomaszbz commented on #268
Only got positive feedback so far. Which is great as there's nothing to do. Closing this issue now.

If you find problems related to this RFC, please feel free to open a new issue and reference to #268.

[2016-12-04 20:45] #268 closed

[2016-12-04 21:28] thomaszbz commented on #257
Thanks to Frank Naegler, the [issue](https://forge.typo3.org/issues/76996) got fixed in [TYPO3 CMS 7.6.11](TYPOhttps://wiki.typo3.org/TYPO3_CMS_7.6.11).

However, we still need to adopt portions of our javascript code at least for two reasons:

- CSS classes still are not available any more
- DOM has changed which renders our buttons unclickable

[2016-12-04 23:22] #257 closed

[2016-12-05 00:00] thomaszbz commented on #272
Scheduler/Task/AbstractTask is only implemented/used by SitemapTxtTask and SitemapXmlTask.

Basically, that means that we use it for _generation_ of sitemaps only. It is never used for editing/showing something in the backend etc.

However, we should still consider hidden root pages for generation of sitemaps because even if a root page is hidden, it could easily happen that subpages of the root p

[2016-12-05 01:03] thomaszbz commented on #224
With the patch applied, I still get `/1`.

With a root page's `id=2`, this happens with empty canonical url in page properties:
[code]

![auswahl_066](https://cloud.githubusercontent.com/assets/11200727/20870841/085724cc-ba8f-11e6-9c99-3ac3fcdc5e7d.png)

Given that it's empty, and the patch considers only cases where it's [not empty](https://github.com/mblaschke/TYPO3-metaseo/pull/267/commits/43c2

[2016-12-05 01:17] thomaszbz commented on #224
This bug still exists in 6.2.29, Realurl 2.0.15 and Realurl 2.1.5.

Another page with pretty much the same setup (including Typo3 version and Realurl version) does not have this issue.

[2016-12-05 01:56] thomaszbz commented on #224
I further tracked it down: First, I found multiple entries for my root page:
![auswahl_067](https://cloud.githubusercontent.com/assets/11200727/20871336/13ae92be-ba95-11e6-8f5b-d13e18069ab0.png)

Then I deleted these entries, logged out from the backend and http-requested the root page for indexation. As a result, I got a new entry. Note that the new entry somehow got the URL `1` which is complete

[2016-12-05 04:02] thomaszbz commented on #224
On the affected TYPO3 instance, I added some debug output to `metaseo/Classes/Hook/SitemapIndexLinkHook.php `:

    public function hook_linkParse(array &$pObj)
    {
        if (!$this->checkIfSitemapIndexingIsEnabled('typolink')) {
            return;
        }

        // Check
        if (empty($pObj['finalTagParts']) || empty($pObj['conf']) || empty($pObj['finalTagParts']['url'])) {

[2016-12-05 04:11] thomaszbz commented on #224
In TYPO3 6.2, injection of $pObj looks like this:

			// Hook: Call post processing function for link rendering:
			if (isset($GLOBALS['TYPO3_CONF_VARS']['SC_OPTIONS']['tslib/class.tslib_content.php']['typoLink_PostProc']) && is_array($GLOBALS['TYPO3_CONF_VARS']['SC_OPTIONS']['tslib/class.tslib_content.php']['typoLink_PostProc'])) {
				$_params = array(
					'conf' => &$conf,
					'linktxt' => &$

[2016-12-05 05:08] thomaszbz commented on #224
It comes from RealURL (table `tx_realurl_urldata`):

[code]

Eventually these are old entries from older versions of RealUrl.

[2016-12-05 06:16] thomaszbz commented on #224
I checked for duplicate title, duplicate url paths, etc. There's no reason for the /1.

I ended up to just change it in the database:

    update tx_realurl_urldata set speaking_url='/' where speaking_url='1' ;

That fixes it: RealUrl does not add new or wrong entries any more, and Metaseo's sitemap is correctly filled with '/' for the root page.

After that, the canonical URL reads:

    <link re

[2016-12-05 06:16] #224 closed

[2016-12-05 08:15] thomaszbz commented on #264
The line in question got introduced with 6f17c54f20819917a9c2cd3f137e3f70b3195f5d.

Before that, there was no signalling at all and also $args was not touched. Basically that means that the input also got put out. I'll have to investigate if this is wanted behaviour or not.

[2016-12-05 09:21] cedricziel commented on #272
I would like to chime in on this. It's your decisionto keep a counter-intuitive behaviour. - Yet you should think about if what you want should rather be a whitelist, not a blacklist. Disabling pages (and records in general) is **the** way TYPO3 normally disables access to rows and I can't wrap my head around why you would choose the opposite of how the system works in every other part.

[2016-12-05 09:29] #264 closed

[2016-12-05 09:44] thomaszbz commented on #272
@cedricziel I assume that a lot of users hide pages but still want http-access to their subpages. Isn't that very common?

Now, it's hard to explain users why a hidden root page should have a different effect on the sitemap than any other hidden page. It simply would not be consistent.

It's about the whole tree under the root page, not about the root page itself.

On the other side, it's just too

[2016-12-05 10:07] cedricziel commented on #272
Yep, you're right. it's about consistency. The behaviour you describe is mostly about "hidden in menu".

Deactivating a root-page does exactly what is says: It disables the site underneath until it hits the next root page.

It's about being precise and correct for those users that care or have bigger installations than those single-tree installations. @ecentral is obviously one of those power user

[2016-12-05 11:15] #261 closed

[2016-12-05 11:47] #203 closed

[2016-12-05 12:22] thomaszbz commented on #59
Test against TYPO3 7.6.14, metaseo 2.0.1:

When a normal page (30) is surrounded by two menu separators(29 and 31), then the following entries disappear:

    <link rel="prev" href="http://172.17.0.2/index.php?id=29">
    <link rel="next" href="http://172.17.0.2/index.php?id=31">

[2016-12-05 13:30] #59 closed

[2016-12-05 13:59] #232 closed

[2016-12-05 19:46] thomaszbz commented on #272
@cedricziel Even if, I could not just change behaviour when users rely on a behaviour as it is. I mean that would be somehow breaking. Breaking a lot. But this is not the issue if there was a good reason for it. There's not a single line of holy code in Metaseo (just a lot of old code).

All l can say is that the existing behaviour is intentional, therefore it's not a bug, therefore not bugfixed.

[2016-12-05 20:32] thomaszbz commented on #272
In respect to implementation, instead of using a config variable, maybe it should be exposed to the GUI. E.g. something like

- [ ] Sitemap active
- [ ] Automatically bind to page status

and the setting should make it to metaseo's database tables. Eventually, there's arbitrary places we use it.

To trigger the setting, eventually hooking into TYPO3 would be the way to go.

[2016-12-06 00:01] thomaszbz opened #280 "Icons not clickable in TYPO3 7.6"
Icons should be clickable. This is a GUI issue which occurs in TYPO3 7 since the concept for displaying icons moved from using CSS classes to embedding SVG images. The latter changes DOM which in turn is the reason why our javascript does not cope with it any more.
![auswahl_069](https://cloud.githubusercontent.com/assets/11200727/20907568/634294e6-bb4f-11e6-95e6-f9aaf2ac1221.png)

[2016-12-06 09:47] #280 closed

[2016-12-08 17:46] thomaszbz opened #282 "Update change log"
Link to milestones at github

[2016-12-08 17:59] #116 closed

[2016-12-08 17:59] #282 closed

[2016-12-08 19:50] #241 closed

[2016-12-09 12:56] thomaszbz opened #285 "Merge change logs"

[2016-12-09 14:10] #285 closed

[2016-12-09 15:44] thomaszbz commented on #226
@kjeldschumacher @albert-spangler Does this still happen with recent versions of MetaSEO and TYPO3?

Please try with MetaSEO 2.0.1+ and TYPO3 7.6.11+

[2016-12-10 05:26] thomaszbz opened #287 "Add video tutorial to documentation"

[2016-12-10 05:41] thomaszbz opened #288 "7.6-ify screen shots in documentation"
Redo screen shots using TYPO3 7.6

[2016-12-10 06:14] thomaszbz opened #289 "Add section "getting started" to documentation"

[2016-12-10 11:18] thomaszbz commented on #190
Workaround: I don't use `absRefPrefix`, but together with RealURL, I use

[code]

... together with a

`<base href="https://www.example.com/">`

... in the template.

I am aware that not everybody likes to use base URLs (it's somehow hard coded). All I can say is that it works at least. We should fix this as long as `absRefPrefix` is widely used. Which it might be.

[2016-12-10 11:48] thomaszbz opened #290 "CSS/LastModified: Date selector is hidden"
In TYPO3 7.6 as of metaseo 2.0.1
![auswahl_070](https://cloud.githubusercontent.com/assets/11200727/21073125/dfa5e45e-bed6-11e6-991a-4ee41caf3ace.png)

In TYPO3 6.2, everything looks pretty:
![auswahl_071](https://cloud.githubusercontent.com/assets/11200727/21074362/525ff6ea-bef7-11e6-932c-2c57ebe1123a.png)

[2016-12-10 12:36] thomaszbz commented on #190
I could not reproduce this issue with RealUrl disabled: A requested page `http://www.example.com` made it into metaseo's index.

However, I could reproduce this issue with RealUrl enabled (RealUrl 2.1.5, TYPO3 7.6.14): A requested page `www.example.com` did _not_ make it into metaseo's index.

@dsteinborn Could you please try to tweak RealUrl the way I did for #224 ? Does that fix your issue? Plea

[2016-12-10 13:38] thomaszbz commented on #190
I think we should consider the `/` we get for rather like a suffix than like a prefix. That would also make sense in respect to storage of urls in `tx_metaseo_sitemap`:

[code]

[2016-12-10 14:39] thomaszbz commented on #190
@dsteinborn @derBoogie Thanks for catching this. Should be fixed now.
Please try out 236d6cd1580f1ed0a1f48129831a7e2302b64a6f via the latest develop branch and report back if the issue is fixed now.

[2016-12-10 14:40] #190 closed

[2016-12-10 14:56] thomaszbz commented on #259
No comments so far, closing this. If you want to add something, please feel free to do so.

[2016-12-10 14:56] #259 closed

[2016-12-10 16:51] #290 closed

[2016-12-10 19:14] thomaszbz commented on #238
Reproduced with TYPO3 7.6.14, metaseo 2.0.1.

I used 3 languages:
- L=0: Default language (english)
- L=1: German
- L=2: French

I created a page in default language(L=0), but translated to German (L=1) only:
![auswahl_073](https://cloud.githubusercontent.com/assets/11200727/21075536/10f981a8-bf15-11e6-9b6a-1ec0e4063d46.png)

After http-requesting all three languages, this is what metaseo's sitema

[2016-12-11 10:58] thomaszbz commented on #226
Seems to be an old phenomenon: https://forge.typo3.org/issues/53074

That said, I'm pretty sure that this issue is about configuration. Please make sure that you have statically included metaseo's template:

![auswahl_075](https://cloud.githubusercontent.com/assets/11200727/21079666/0e0383ca-bf99-11e6-9d4c-84b29779a228.png)

That's documented and there also is a nice tutorial [video](https://jweil

[2016-12-11 12:26] thomaszbz commented on #226
Also tried a fresh install in composer mode with

[code]

After that, I created a page, added metaseo's static template and ran the task to create the xml sitemap. Everything worked great (PHP 5.6, TYPO3 7.6.14 in composer mode, metaseo 2.0.1):

    /var/www/typo3_composer/web/uploads/tx_metaseo/sitemap_xml# ls -l
    -rw-r--r-- 1 www-data www-data 228 Dec 11 12:19 index-r1.xml.gz
    -rw-r--r-- 1

[2016-12-11 12:26] #226 closed

[2016-12-11 15:22] thomaszbz commented on #86
@AndreasA could you please try again with v2.0.1, which got released in the meantime? I'm not aware that we fixed this issue in the meantime, but sometimes we fix things unknowingly.

[2016-12-11 20:57] thomaszbz commented on #189
@kersten @clicsoft Are you still affected by this issue with 7.6.11+? I have not heared someone complaining on this for a long time. They also merged forge-76995 a long time ago.

If the issue still exists, please report back and I reopen it.

[2016-12-11 20:57] #189 closed

[2016-12-12 11:47] thomaszbz commented on #119
Eventually fixed in the core a long time ago:

- https://forge.typo3.org/issues/37421
- https://forge.typo3.org/issues/46032
- https://forge.typo3.org/issues/50264

Please also note that we disabled metaseo's link generation feature by default via #202 in 2.0.0.

If someone still is affected by this issue, please report back. You can only be affected by this issue if you use RSA authentication and

[2016-12-12 13:34] discotizer commented on #238
Hi there,

i'm the original poster. 404 there meant simply that the translation was not created in the backend, so that the then called URL from the sitemap should lead to a 404 page.

[2016-12-12 13:38] #138 closed

[2016-12-12 14:35] thomaszbz commented on #238
@discotizer got it. I tested without `hidePagesIfNotTranslatedByDefault` enabled. With or without this setting, we need to get non-existing entries out of the sitemap, so that does not really change something. Iin terms of SEO, 404's might be even safer to avoid duplicate content. Google sorts that out then, it's just that it eventually produces a lot of entries in Google's search console.

[2016-12-12 18:38] thomaszbz commented on #254
I retried this with 6.2.29, meaning that #268 was applied (including configuration change). With the security-patched versions of TYPO3 I don't get new entries when I request pages with parameters like `/?pk_campaign=abc`.

If someone else still is affected by this issue, please

- wipe out unwanted entries from your sitemap e.g. via metaseo's sitemap editing functionality (delete/blacklist wherea

[2016-12-12 18:49] thomaszbz commented on #271
Have you tried Markus' suggestion to
- update to 2.0.1+ and
- set either or both `plugin.metaseo.sitemap.index.allowNoStaticCachable` or `plugin.metaseo.sitemap.index.allowNoCache` to 1 (TS constants)?

I think the reason to check against the cache is to sort out unwanted parameters (see #254 for details). That requires 6.2.27+ or 7.6.11+ to work as expected (see #268). Eventually, we need to impr

[2016-12-12 19:14] thomaszbz commented on #186
Closing this, due to code fix and missing feedback. We still have #271 open for the question what we do in general, without the workaround (via 2c064fe) applied.

[2016-12-12 19:14] #186 closed

[2016-12-12 20:16] thomaszbz commented on #271
@phathoang I'd also be interested in the question what was leading to the circumstance that pages were not cached by TYPO3? Were you testing in TYPO3's development mode, eventually?

[2016-12-12 20:24] thomaszbz commented on #164
I think this issue solved itself: We do fine for 6.2 and 7.6 in respect to composer.json. Plus, did we not need external dependencies so far. Eventually, that still holds true even for upcoming 8 LTS. And 6.2 easily EOLs next year.

[2016-12-12 20:24] #164 closed

[2016-12-12 20:31] thomaszbz commented on #63
@halione wie schaut's aus, bekommen wir einen PR von Dir? Ich stufe das Ticket solange als feature request ein.

[2016-12-12 20:35] thomaszbz commented on #66
This issue got fixed in the meantime in respect to my use case. RealURL and TYPO3 core fixed a _lot_ in that respect in recent versions (I use RealUrl 2.1.5 and TYPO3 6.2.29+).

[2016-12-12 20:35] #66 closed

[2016-12-12 20:55] thomaszbz commented on #16
I fixed an issue for `config.absRefPrefix` recently: #190. We considered `config.absRefPrefix` for a long time, #190 is just for the root page not getting indexed in that case. At least for `config.absRefPrefix` I can say that it works in 2.0.x and also indexes the root page in 2.0.2+. Just that I did not test with `sys_Domain` and  `config.absRefPrefix` _combined_.

As long as the relevant patche

[2016-12-12 20:55] #16 closed

[2016-12-12 21:05] thomaszbz commented on #55
This issue duplicates #271 . I'll leave it open until we find a fix for #271. That should fix this issue as well.

[2016-12-12 21:16] thomaszbz commented on #246
RealUrl somehow does not redirect old entries any more. Which is good for performance (whereas for a fallback this should not matter too much), but leaves tracking changes of CMS users up to the admin (-> redirect via .htaccess). Whereas we can't do the redirect (that should happen at an earlier stage on the level of the web server already), we should track for changes made by users and avoid dupl

[2016-12-12 21:53] thomaszbz commented on #124
Confirmed for Metaseo 2.0.1, TYPO3 7.6.14:

                ga('create', 'UA-12345456-1', {
                    'cookieDomain': '{gaDomainName}',
                    'cookieName': '_gua',
                    'cookieExpires': 20000
                });

which is `{gaDomainName}` instead of `example.com`

[2016-12-12 22:08] thomaszbz commented on #124
Thanks for catching this. Will be fixed in 2.0.2.

[2016-12-12 22:09] #124 closed

[2016-12-12 22:33] thomaszbz opened #295 "Copyright: Marker %YEAR% sometimes not replaced"
`(c) %YEAR% somebody` replaces the year and renders to

    <meta name="copyright" content="(c) 2016 somebody">

whereas `%YEAR% somebody` does not replace the year and renders to

    <meta name="copyright" content="%YEAR% somebody">

Tested with Metaseo 2.0.1, TYPO3 7.6.14

Thanks to the [tutorial video](https://jweiland.net/video-anleitungen/typo3/interessante-typo3-extensions/metaseo.html) for

[2016-12-12 22:45] #295 closed

[2016-12-12 23:25] thomaszbz commented on #269
Sounds that the rx_sharif needs the canonical, but seems, we're still missing support for the news extension. For the latter a duplicate of #234

[2016-12-12 23:34] thomaszbz commented on #67
Another example:

    <meta itemprop="datePublished" content="2015-02-05T08:00:00+08:00"/>
    <meta itemprop="dateModified" content="2015-02-05T09:20:00+08:00"/>

Taken from [here](http://webmasters.stackexchange.com/questions/95792/how-to-get-google-to-display-the-published-date-of-blog-post-in-the-search-resul).

[2016-12-13 00:12] thomaszbz commented on #167
Presumably not a bug. Patch 57f81c5 still needs to be tested.

[2016-12-13 02:17] thomaszbz commented on #78
For tracking changes with a hook, there's #246.

We need to let garbage collection only collect garbage, while valid entries and user-specified data (blacklisting, etc.) should remain.

While user-specified data (especially blacklisting) seems easy to decide, we need to specify the criteria when an entry is not valid any more.

[2016-12-13 12:22] #248 closed

[2016-12-13 15:33] AndreasA commented on #86
I currently don't have a page where this is relevant, so I would have to test it from the beginning.
If I have time and don't forget about it, I will test it :)

[2016-12-14 08:33] phathoang commented on #271
@thomaszbz
Actually I was looking into this because of tq_seo being used on an older installation. In tq_seo the TSFE->isStaticCacheble check is only done in **one** of the two hooks, which explains why #186 was working with tq_seo but not metaseo.

In our case we're having pw_comments inserted into a page as non-cacheable plugin. So it's not that TYPO3 doesn't cache the page, it does, but not eve

[2016-12-23 15:32] thomaszbz commented on #127
As it turns out, a703006 did _not_ get merged into metaseo yet (as of unreleased 2.0.2). Reopening this issue.

The corresponding branch is still there, but not clean: https://github.com/mblaschke/TYPO3-metaseo/tree/feature/forge-61858

[2016-12-23 18:54] thomaszbz commented on #127
Merge conflicts for a703006 solved via PR #304 / ddead84.

@mblaschke could you please review/merge your commit via #304? I did not test it so far.

[2016-12-23 19:42] thomaszbz commented on #127
Alternatively: @georg-tiefenbrunn , have you been testing the patch? I know, it's long time ago...

[2016-12-23 22:40] georg-tiefenbrunn commented on #127
I can test it on 27.12.

[2016-12-23 22:58] thomaszbz commented on #127
great! thanks!

[2016-12-27 01:30] DanPii opened #306 "Incorrect External Links / URLS in Sitemap.xml"
Hi there,

I'm using metaSEO 2.0.1 with Typo3 7.6.11.

Right now I've got two Issues:
1.) untranslated pages are not hidden --> see #238
2.) external links to another website are shown as relative links in sitemap tool leading to incorrect sitemap.xml entry:
Let's say my domain is "https://example.org". All internal Links are correct in sitemap.xml, but when i use page type "Link to external site"

[2016-12-27 12:35] thomaszbz commented on #306
I assume that this issue is for external URLs _only_ (for untranslated pages, there's #238).

For instance, I can't reproduce the issues with external URLs. As of MetaSEO 2.0.1, external URLs don't make it into MetaSEO's sitemap, whether in the backend nor in the sitemap.xml which gets published. I tested with 6.2.29 and RealURL 2.1.5, however.

Eventually, the issue happens with 7.6 only. Or usin

[2016-12-27 13:55] thomaszbz commented on #306
Tried to reproduce this against TYPO3 7.6.14, RealUrl 2.1.5, Metaseo 2.0.2 (current develop branch 5e2273d05573dc01b03459a8b82a249b8abc1b95):

![new typo3 site typo3 cms 7 6 14 - mozilla firefox_097](https://cloud.githubusercontent.com/assets/11200727/21500940/0f345064-cc44-11e6-8342-3ba8a09ac79c.png)

- Cleared all entries from metaseo's sitemap
- Cleared all caches
- Added "link to external URL"

[2016-12-27 14:06] thomaszbz commented on #306
@DanPii What's your setup in respect to

    config.absRefPrefix

and

    config.baseURL

?

[2016-12-27 14:29] thomaszbz commented on #306
Workaround: "Exclude page from sitemap" via page properties (tab SEO):

![auswahl_102](https://cloud.githubusercontent.com/assets/11200727/21501531/fd8226fc-cc48-11e6-9cc6-f2f27af9d449.png)

Page `g` still gets indexed, but now it gets blacklisted _automatically_:

![auswahl_103](https://cloud.githubusercontent.com/assets/11200727/21501563/2dd5372c-cc49-11e6-9864-a84fa1f30518.png)

Being blacklist

[2016-12-27 15:05] thomaszbz commented on #306
115b385 makes that doktype 3 (external link) is blacklisted for indexation. With the patch applied, pages with doktype 3 are excluded from indexing and don't make it into metaseo's sitemap.

@DanPii would you like to give it a try for your case? You could just manually add the new line to test it.

https://github.com/thomaszbz/TYPO3-metaseo/commit/115b38578b200554b24879c1cb16878d4bf508ce#diff-65bf

[2016-12-27 17:56] thomaszbz opened #309 "Type casting issue with field: lastupdated"
![auswahl_104](https://cloud.githubusercontent.com/assets/11200727/21505288/28a635e0-cc66-11e6-9b2b-4b7021c841c3.png)

How to reproduce:

- Go to SEO/Metatags section
- Choose a page with subpages
- Insert "last updated" date of a subpage, using the date selector
- Save changes
- Logout from backend
- Log in again

Then an error is shown and the log says:

Same applies when updating an existing da

[2016-12-27 18:01] thomaszbz commented on #309
For the chosen page (not a subpage of it), the date is not stored at all. The error shown in the log (after user logs in and out) is the same, however:

[2016-12-27 19:11] thomaszbz commented on #309
With complete error reporting, PHP logs:

[2016-12-27 19:44] #309 closed

[2016-12-27 19:55] thomaszbz commented on #309
Also works together with TYPO3 6.2 (caches need to be cleared, eventually. Otherwise translation is not found).

New values also get stored physically in 6.2:

[code]

[2016-12-29 05:16] #306 closed

[2016-12-30 16:59] thomaszbz commented on #164
Related: https://docs.typo3.org/typo3cms/extensions/core/Changelog/7.5/Feature-68700-AutoloadDefinitionCanBeProvidedInExt_emconfphp.html

The autoload section is a new feature in 7.x. Unless there is a bug when not using this feature, we don't have to use it. In that case, it's just a nice-to-have. And it's not relevant for 6.2 (could only break something).

We are also only using one PSR-0 root.

[2016-12-30 17:03] thomaszbz opened #312 "ext_emconf.php: Add autoload section"
Add autoload section, according to https://docs.typo3.org/typo3cms/extensions/core/Changelog/7.5/Feature-68700-AutoloadDefinitionCanBeProvidedInExt_emconfphp.html

The autoload section in ext_emconf.php is the equivalent for composer.json's autoload section (which we already use for a long time), just that it's for non-composer installs.

[2016-12-30 17:04] thomaszbz commented on #312
There's #311, but we should track down the patch set to only add the autoload section.

[2016-12-30 17:36] thomaszbz commented on #312
This issue seems to have some relevance:

[2016-12-30 17:49] thomaszbz commented on #312
Tested b7b7b5c against 6.2.29 and 7.6.14.

[2016-12-30 17:55] #312 closed

[2016-12-30 19:01] thomaszbz commented on #127
@georg-tiefenbrunn Any progress so far?

[2016-12-30 19:51] georg-tiefenbrunn commented on #127
@thomaszbz Sorry, this took a while longer than expected.

tl;dr: Works as it should with your patch applied. Thanks for bringing up and fixing this old one!

I got confused by the "Excl." column in the sitemap backend module introduced with e4ac66e and double checked the indexing.

My first thought was that the "Excl." column is now obsolete, but after playing around with enabling/disabling the o

[2016-12-30 21:26] #127 closed

[2016-12-30 22:59] thomaszbz commented on #86
@AndreasA Metaseo 2.0.2 got released today. Again, I'm not aware that this issue is fixed. However, it would be great if you could test if this issue still exists. It could easily happen that this got fixed in the core or in realurl or in metaseo 2.0.x.

[2016-12-30 23:16] #236 closed

[2016-12-31 00:57] #148 closed

[2016-12-31 01:20] thomaszbz commented on #93
Retried with TYPO3 7.6.14, Metaseo 2.0.2:

The pagetitle simulator now shows all entries. However, for hidden subpages, pagetitle simulator shows the title of the parent page:

![arbeitsflache 1_105](https://cloud.githubusercontent.com/assets/11200727/21575022/b1c54398-ceff-11e6-8525-275a398252c1.png)

[2016-12-31 01:43] thomaszbz commented on #93
In TYPO3 CMS 6.2.29, I still get the 404 error, together with Metaseo 2.0.2

[2016-12-31 02:01] thomaszbz commented on #93
fdde9dc already is valid for 7.6.14, but not for 6.2.29.

6.2.29 still throws the 404 error.

[2016-12-31 04:25] thomaszbz opened #316 "Error after reenabling metaseo extension"
Got a stacktrace after disabling and reenabling metaseo extension:

[code]
**MetaSEO version**: 2.0.2

**TYPO3 version**: 7.6.14

**PHP version**: 5.6

[2016-12-31 04:42] thomaszbz commented on #316
Seems to be a regression via b7b7b5c, #312. Only Metaseo 2.0.2 is affected (which was released a few hours ago).

[2016-12-31 04:46] #316 closed

[2016-12-31 05:17] thomaszbz commented on #93
Now that it works with 7.6.14 using functionality which is available in 6.2.29 as well, it looks as if 6.2.29 has a buggy implementation which somehow got fixed up until 7.6.14.

It really seems hard to somehow fix this for 6.2.29, in case it's a bug in the core. Using XClasses again also is ugly.

Now that nobody ever complained about this issue, I won't fix the bug for 6.2.29, which is EOL soon

[2016-12-31 05:17] #93 closed

[2016-12-31 10:08] thomaszbz commented on #238
@kimchristiansen @discotizer would you like to test PR #319 ?

With the patch set applied, untranslated entries should not make it into metaseo's index any more.

[2016-12-31 11:03] #3 closed

[2016-12-31 11:03] #122 closed

[2016-12-31 11:03] #235 closed

[2016-12-31 11:06] #238 closed

[2017-01-04 08:33] DanPii commented on #306
Hi Thomas,

thanks for the quick response. I'm still on the road right now, so here some short feedback.

- I  have set $GLOBALS['TYPO3_CONF_VARS']['FE']['cHashIncludePageId'] = true;
- config.absRefPrefix is non existent yet - should I set it to "/"?
- config.baseURL (to stay consistent with my example at the top):  https://example.org - without slash at the end

When I'm back, I will try your re

[2017-01-04 08:54] thomaszbz commented on #306
@DanPii Thanks for reporting back. After merging the fix, I just wanted to have your settings attached to this issue, because sometimes users have similar issues and we need to sort out which one is which.

At first, I wanted to have the infos to track down this issue. But after I could reproduce it, I fixed it no matter if a path prefix is set / which path prefix is set. Would still be great if y

[2017-01-10 09:57] thomaszbz opened #325 "7.6 LTS: TCA: Reference to "wizard_element_browser" was migrated to new "wizard_link""
According to documentation, wizard_link is documented in v7.6+, but not yet in 6.2.

v8-dev: https://docs.typo3.org/typo3cms/TCAReference/AdditionalFeatures/CoreWizardScripts/Index.html
v7.6-lts: https://docs.typo3.org/typo3cms/TCAReference/7.6/AdditionalFeatures/CoreWizardScripts/
v6.2-lts: https://docs.typo3.org/typo3cms/TCAReference/6.2/AdditionalFeatures/CoreWizardScripts/

@snduesel provided

[2017-01-10 10:15] snduesel commented on #325
I don't know. I have tested only in TYPO3 7.6 #322 #323 #324

#324 is a necessary Bugfix for TYPO3 7.6, but not #322 #323 (It's refactoring for v8)

[2017-01-10 10:16] thomaszbz commented on #325
Related: #143 `wizard_element_browser` was introduced for 7.6 compatibility and is still backwards compatible to 6.2 (via 3c9c1137f75a6f9b1673efb0cd6edcb98835a810).

These were the original refactoring steps of #143:
Found the exact refactoring step of 3c9c113:
- https://wiki.typo3.org/Exception/CMS/1437750231
- https://docs.typo3.org/typo3cms/extensions/core/latest/Changelog/7.0/Breaking-59659-De

[2017-01-10 10:19] snduesel commented on #325
I get this Message in my TYPO3 7.6 depcation.log:
Reference to "wizard_element_browser" was migrated to new "wizard_link"...

[2017-01-10 10:25] thomaszbz commented on #325
@snduesel Great. Deprecation messages need to be mitigated by refactoring the code, of course. But we can do this just as soon as there is a migration path. If I get it right, the migration path requires that we drop support for 6.2 first. Dropping support for 6.2 blocks to merge the patch for the moment.

As far as I know, the existing code does at least run with 7.6 (just that it is deprecated).

[2017-01-10 10:42] thomaszbz commented on #325
`wizard_element_browser` is deprecated since 6.2 already and gets replaced with `wizard_backend_layout`:

https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_6-2/typo3/sysext/backend/Classes/Form/FormEngine.php#L4589

That got refactored in 7.6, whereas `wizard_element_browser` still exists: https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_7-6/typo3/sysext/recordlist/Configuration/Backend/Routes.php

As of

[2017-01-10 10:44] snduesel commented on #325
Then its pure refactoring ;-)

[2017-01-10 10:57] thomaszbz opened #326 "7.6 LTS: Using select fields without the "renderType" setting is deprecated in table 'pages'"
Not using a `renderType` is deprecated since 7.6:

https://wiki.typo3.org/TYPO3.CMS/Releases/7.6/Deprecation#Deprecation:_.2369822_-_Deprecate_TCA_settings_of_select_fields

@snduesel provided a patch via #324

According to the deprecation message, the existing code should still work together with 7.6, just that it's deprecated.

[2017-01-10 11:06] thomaszbz commented on #326
@snduesel Is the existing code still running with 7.6 in your case, too? Unless we drop support for 6.2 and support 8.x, this would be pure refactoring.

[2017-01-10 11:18] thomaszbz commented on #326
Eventually, this patch does not break 6.2 (as the array key was just added). In that case, the patch could be merged in 2.0.x/2.1 already.

[2017-01-10 11:30] thomaszbz commented on #325
Related: `wizard_backend_layout` has been removed as of TYPO3 8.1:

https://github.com/TYPO3/TYPO3.CMS/blob/master/typo3/sysext/core/Documentation/Changelog/8.1/Breaking-75497-InlineBackendLayoutWizard.rst

So it was wise to not use it ;-)

[2017-01-10 11:59] thomaszbz commented on #326
As of current master (8.5), the fallback code for undefined `renderType` still is present:

master:

https://github.com/TYPO3/TYPO3.CMS/blob/master/typo3/sysext/core/Classes/Migrations/TcaMigration.php#L585

8.5:

https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_8-5/typo3/sysext/core/Classes/Migrations/TcaMigration.php#L555

7.6:

https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_7-6/typo3/sysext/core/Cl

[2017-01-10 13:45] thomaszbz commented on #326
Verified  	b1813e5 against 7.6.14 and 6.2.30 (there's no effect for 6.2.30)

[2017-01-10 13:45] #326 closed

[2017-01-10 14:10] thomaszbz commented on #325
PR #329 replaces PR #322 and #323.

@snduesel Sorry, I could not preserve the original commits because the original PRs got closed and the original branch got deleted. PR #329 is exactly what you suggested, however.

[2017-01-11 12:26] sebastianschrama commented on #254
Please reopen this issue, as this problem already exists for me.

TYPO3 7.6.15
metaseo 2.0.3
realurl 2.1.5
php 5.6.27

`cHashIncludePageId` is set to `1`

I already have parameters like "gclid", which comes from google adwords in the sitemap.xml. I also tested with other parameters (?parameter=test). Same problem.

What's wrong? Did I miss setting up some options? Or is there still a bug?

[2017-01-11 13:21] thomaszbz commented on #254
@sebastianschrama Thanks for reporting back.

My test was against TYPO3 6.2.29. Considered that you are still faced with this issue, closing this issue should indeed go along with a test against 7.6.15+.

It's unlikely I can do something before March 2017 (limited time). Would be great if someone could track this issue further down in the meantime.

To answer your questions:

* Please make sure th

[2017-01-11 13:54] sebastianschrama commented on #254
Thanks for the quick response. I followed your instructions, but unfortunately the sitemap still adds unknown parameters in urls.

[2017-01-11 14:15] thomaszbz commented on #254
Maybe @benf can help out? @benf I already took into account that your patch set could eventually be useful for this issue.

[2017-01-12 04:12] DanPii commented on #306
@thomaszbz

- I  updated Typo3 to 7.6.15 and the metaseo to 2.0.3.
- Cleared all caches
- deleted all entries of the existing sitemap

It is still updating the sitemap (about 450 of 600 entries), but none of the external links are included anymore!! This is SOLVED for me.
The other issue (untranslated pages showing up in the sitemap #238) is now solved as well.

Thank you very much for the quick r

[2017-01-12 07:22] thomaszbz commented on #254
@sebastianschrama Other user says this is fixed against 7.6: https://github.com/mblaschke/TYPO3-metaseo/issues/306#issuecomment-272071718

@sebastianschrama Please make sure that `cHashIncludePageId` is indeed active.

[2017-01-12 10:44] sebastianschrama commented on #254
The `cHashIncludePageId` is definitely set to `1` in my case.

[2017-01-12 11:19] thomaszbz commented on #254
I know. Deleted my previous message long before you answered ;-)

[2017-01-17 22:48] LuckyFellow opened #330 "Call to a member function isStaticCacheble() on a non-object"
**MetaSEO version**: 2.0.3

**TYPO3 version**: 6.2.4

**PHP version**: 5.4.45

**Powermail version**: 2.1.5

If a Powermail form is created which allows file uploads (pictures) and the powermail backend module "Powermail list" is used to look at the Mail Listings, then the following error shows up in apache error log:

PHP Fatal error:  Call to a member function isStaticCacheble() on a non-object

[2017-01-17 23:41] thomaszbz commented on #330
Thanks for catching this. Can this still be reproduced with a recent version of TYPO3, say 6.2.30?

Checking potential of a regression in metaseo: Did you experience this issue directly after updating metaseo, thereby not changing anything else? Which version of metaseo did you use before upgrading?

[2017-01-17 23:57] LuckyFellow commented on #330
I used MetaSEO version 1.0.8 and encountered the issue.
Then I updated to MetaSEO 2.0.3, but the issue remained.

Unfortunately I don't have a chance to test it on a more recent TYPO3 yet.

But I assume that MetaSEO will still be called in TYPO3 Backend and that it still will want to utilize $GLOBALS['TSFE'], which will not be provided by TYPO3 at this point.

[2017-01-18 00:25] thomaszbz commented on #330
Could you please try powermail 2.12.0 at least? That should be possible with 6.2.4.

You could even upgrade to powermail 2.25.2, but it requires TYPO3 6.2.7 at least.

I strongly recommend to use recent TYPO3 6.2.30, especially in case your system is exposed to the internet (a bunch of security patches made it into TYPO3 since then, also including bug fixes which solve issues when using metaseo).

[2017-01-18 01:05] thomaszbz commented on #330
Tried to reproduce a powermail form against metaseo 2.0.3, TYPO3 7.6.14, powermail 3.10.1, but logs stayed clean.

![auswahl_116](https://cloud.githubusercontent.com/assets/11200727/22046674/8657d316-dd22-11e6-92de-1fd279d6a991.png)

[2017-01-18 23:13] sebastianschrama opened #331 "Duplicate entries in sitemap for targets of shortcuts"
TYPO3 7.6.15
metaseo 2.0.3
realurl 2.1.5
php 5.6.27

cHashIncludePageId is set to 1

My default language is english, all pages (and shortcuts) are translated to german.

A part in my site tree looks like this.

- References
    - All References (this is a shortcut to "References"
    - ...
- Contact
    - Contact details (this is a shortcut to "Contact"
    - ...

The sitemap.xml contains the foll

[2017-01-19 03:31] thomaszbz commented on #331
Reproduced against TYPO3 7.6.14, metaseo 2.0.3.

Pages used:

![auswahl_118](https://cloud.githubusercontent.com/assets/11200727/22092674/dfbfe6f4-ddff-11e6-8898-0853f8f63c58.png)

Sitemap:

![auswahl_117](https://cloud.githubusercontent.com/assets/11200727/22092677/e99ad2a6-ddff-11e6-8048-9135bf664308.png)

We could discuss if 2 or 4 entries should make it into the sitemap. But 5 entries is at le

[2017-01-19 11:38] glucka opened #333 "Deleted pages_language_overlay used"
MetaSEO version**: 2.0.3

Wenn eine gelöschte pages_language_overlay row in db vorhanden ist wird immer diese verarbeitet.
Im Frontend erscheint deshalb nicht das richtige Browsertitle weil das richtige (nicht gelöschte) pages_language_overlay row in db wird nie verarbeitet.

[2017-01-19 13:00] thomaszbz commented on #333
@glucka

Habe versucht, es zu reproduzieren (TYPO3 7.6.14, metaseo 2.0.3):

Übersetzung angelegt (wird später gelöscht)

![auswahl_119](https://cloud.githubusercontent.com/assets/11200727/22107561/f7c19564-de4e-11e6-818c-9e2bf7372f7e.png)

Übersetzung gelöscht (ganze Übersetzungs-Seite):

![auswahl_120](https://cloud.githubusercontent.com/assets/11200727/22107587/0d0283de-de4f-11e6-84f2-cc28974739

[2017-01-19 17:23] thomaszbz opened #334 "Make page title caching variable configurable via constants editor"
**MetaSEO version**: 2.0.3

Make page title caching variable configurable via constants editor

[2017-01-19 17:48] #334 closed

[2017-01-19 18:03] thomaszbz opened #336 "Ajax: Pagetitle simulation is not translated"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 7.6.14
**PHP version**: 5.6

For a page with default language English

![auswahl_127](https://cloud.githubusercontent.com/assets/11200727/22118904/cba24d90-de79-11e6-885a-cf98fdc7cc48.png)

and its translation to German

![auswahl_126](https://cloud.githubusercontent.com/assets/11200727/22118883/bd9db464-de79-11e6-903e-9fbe0b69f5d3.png)

page title sim

[2017-01-19 18:11] thomaszbz commented on #336
With pagetitle caching disabled, the bug is gone:

![auswahl_130](https://cloud.githubusercontent.com/assets/11200727/22119197/f1799752-de7a-11e6-8a66-2edb258888ad.png)

![auswahl_131](https://cloud.githubusercontent.com/assets/11200727/22119202/f994e3ec-de7a-11e6-976c-295205a4e82c.png)

Suggested fix: disable pagetitle caching for ajax requests (this does not affect the frontend where better perf

[2017-01-19 19:34] thomaszbz commented on #336
Disabling cache was necessary, but not sufficient: It worked for the pagetitle simulator (SLOW!), but not for the ajax action in the page title dropdown.

Therefore, had to pass the chosen language via ajax parameter and handle it. The code also got aligned with the pagetitle simulator, mainly because it works. That's done in b9f4cdf.

[2017-01-19 19:35] #336 closed

[2017-01-19 19:47] thomaszbz opened #338 "Ajax: URL simulation is not translated"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 7.6.14
**PHP version**: 5.6
** RealUrl version (optional): 2.1.5 **

![auswahl_132](https://cloud.githubusercontent.com/assets/11200727/22122485/78b9adb2-de88-11e6-9860-3813b7e3e6d4.png)

[2017-01-19 22:12] #338 closed

[2017-01-19 22:40] thomaszbz commented on #333
Es sieht für mich so aus, als ob die gepatchte Funktion nur für Ajax-Requests ausgeführt wird, also nur im TYPO3-Backend (also nicht im TYPO3-Frontend).

Insofern war mein Versuch, das zu reproduzieren obsolet.

Im Backend ist es deutlich entspannter, und die Änderung scheint prinzipiell sinnvoll zu sein, auch wenn ich jetzt keinen Bug reproduzieren kann. Laufen tut's scheinbar noch.

@glucka Viel

[2017-01-19 22:44] #333 closed

[2017-01-20 06:51] thomaszbz commented on #330
No response from @LuckyFellow  so far. If someone else is affected with a recent version of powermail and TYPO3 6.2, please report back in this issue.

[2017-01-20 09:17] glucka commented on #333
Genao. Deine test müsstest du nur weiter machen.
Versuche nur in Backend über Das Metaseo plugin das Titel ändern. Geht nicht, wird immer das gelöschte page_language_overlay row verändert!
![screenshot from 2017-01-20 09-54-59](https://cloud.githubusercontent.com/assets/6602365/22143235/9f342e38-def9-11e6-99de-e6460cb69ccf.png)

[2017-01-22 18:58] thomaszbz opened #341 "Documentation: Fix links and redirects"
**MetaSEO version**: 2.0.3

https://validator.w3.org/checklink?uri=https%3A%2F%2Fdocs.typo3.org%2Ftypo3cms%2Fextensions%2Fmetaseo%2F&hide_type=all&recursive=on&depth=5&check=Check

[2017-01-22 19:54] #341 closed

[2017-01-27 09:43] SicorDev opened #343 "Signal Slots: Missing call by reference in GeneralUtility->callHookAndSignal()"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 7.6.15
**PHP version**: 5.6.29

Some signals are not working, because of the missing call by reference argument for non-objects.
The function call
`$signalSlotDispatcher->dispatch($class, $name, array($args, $obj));`

inside \Metaseo\Metaseo\Utility\GeneralUtility->callHookAndSignal() should be `$signalSlotDispatcher->dispatch($class, $name, array(&$ar

[2017-01-27 10:05] thomaszbz commented on #343
@SicorDev Thanks for catching this. Related:  #264 was supposed to fix this in 2.0.2.

Which hook did you use when you hit this issue?

Can you please reassert that #264 does not fix this? Please clear all caches (including opcode caches in the install tool) and try once again with 2.0.3. It's just to make sure that the bug really is not fixed via #264.

[2017-01-27 10:16] thomaszbz commented on #343
Just for the record: TYPO3's signal slot dispatcher does a

    /**
     * Dispatches a signal by calling the registered Slot methods
     *
     * @param string $signalClassName Name of the class containing the signal
     * @param string $signalName Name of the signal
     * @param array $signalArguments arguments passed to the signal method
     * @return mixed
     * @throws Exception\InvalidS

[2017-01-27 10:33] thomaszbz commented on #343
Here's some code taken from the backend (`TYPO3\CMS\Backend\Utility\BackendUtility`):

    protected static function emitGetPagesTSconfigPreIncludeSignal(array $TSdataArray, $id, array $rootLine, $returnPartArray)
    {
        $signalArguments = static::getSignalSlotDispatcher()->dispatch(__CLASS__, 'getPagesTSconfigPreInclude', array($TSdataArray, $id, $rootLine, $returnPartArray));
        retu

[2017-01-27 10:39] thomaszbz commented on #343
@SicorDev What happens if you write:

    public static function callHookAndSignal($class, $name, $obj, &$args = null)
    {
    [...]
    $signalArguments = $signalSlotDispatcher->dispatch($class, $name, array($args, $obj));
    $args = $signalArguments[0];
    }

[2017-01-27 10:56] SicorDev commented on #343
I cleared all the caches and it's still the same behaviour.
Let's say this is my example implementation: (Signal and ext_tables.php)
<pre>
public function metatagOutput(&$args, $obj) {
        $objectManager = GeneralUtility::makeInstance(ObjectManager::class);
        $pageRepository = $objectManager->get(PageRepository::class);
        $parent = $pageRepository->getPage($GLOBALS['TSFE']->page["u

[2017-01-27 10:58] thomaszbz commented on #343
564ce37 is invalid because it works around the error handling in https://github.com/TYPO3/TYPO3.CMS/blob/master/typo3/sysext/extbase/Classes/SignalSlot/Dispatcher.php#L150

It is very likely that the error happens somewhere else: Eventually something goes wrong when calling the hook.

[2017-01-27 11:05] SicorDev commented on #343
Hm, could you test your fix ?
Im not insisting on my solution, i just need a working one.

[2017-01-27 11:08] thomaszbz commented on #343
Please have a look into https://github.com/TYPO3/TYPO3.CMS/blob/master/typo3/sysext/extbase/Classes/SignalSlot/Dispatcher.php#L150

Please note that $params only make it into the return value, if execution does not fail. That should work with the existing code.

I guess in your case something fails when dispatching. For that case the dispatcher does not return changes. Eventually, you worked aroun

[2017-01-27 11:14] thomaszbz commented on #343
What happens if you do:

    $signalSlotDispatcher->connect(
        \SICOR\SicMeta\Hooks\MetaFallbackSignal::class,        // Slot class name
        'metatagOutput'                                // Slot name
    );

Without connecting Metaseo's metatagOutput?

[2017-01-27 11:15] SicorDev commented on #343
Alright i got a working example:
<pre>
    public function metatagOutput($args, $obj) {
        $objectManager = GeneralUtility::makeInstance(ObjectManager::class);
        $pageRepository = $objectManager->get(PageRepository::class);
        $parent = $pageRepository->getPage($GLOBALS['TSFE']->page["uid"]);

        // No description found -> fallback
        if(!$args["meta.description"]["attrib

[2017-01-27 11:17] thomaszbz commented on #343
Does it also work with the `list()` variant, leaving the original v2.0.3 unchanged?

[2017-01-27 11:17] thomaszbz commented on #343
@SicorDev Does it also work with the `list()` variant, leaving the original v2.0.3 unchanged?

[2017-01-27 11:21] SicorDev commented on #343
Yes it does. Thank you :)
It would be helpful to have a little bit more of a documentation for the signals.
I expected it to work like the powermail implementation, so I got of the track..

[2017-01-27 11:26] thomaszbz commented on #343
MetaSEO's signals were brought into existence by @mblaschke . I'm still learning how to deal with them myself ;-)

But yes, documentation should get improved... If you want to help out, I'd be happy to merge your patches (create new issue, please).

[2017-01-27 11:27] #343 closed

[2017-01-27 11:38] thomaszbz commented on #343
@SicorDev Btw: Your way to call the hook/signal could be great as an example for documentation. If you want to add it for demonstration (how to use the hook/signal thing), please file an issue and PR.

[2017-01-27 12:13] SicorDev opened #345 "Add example for signal implementation"
Improve the documentation by adding an example for a signal

[2017-01-27 12:28] #345 closed

[2017-01-31 08:44] topfender opened #347 "Connector.php setPageTitle() checks GLOBAL[TSFE] instead of GLOBALS[TSFE]"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 7.6.15
**PHP version**: 5.6.21

I wonder if this is on purpose or if it is an actual bug. I tried to change the pagetitle with the `Connector` class. But `setPageTitle()` doesn't do anything.
`if ($updateTsfe && !empty($GLOBAL['TSFE']))` always returns false , because `$GLOBAL['TSFE']` doesn't exist.

[2017-01-31 09:12] thomaszbz commented on #347
@topfender Thanks for catching this. Looks like a typo. Could you please test my patch and report back what it does to it? I did not test it myself yet.

[2017-01-31 11:14] topfender commented on #347
@thomaszbz it works fine, thanks.

[2017-01-31 11:18] thomaszbz commented on #347
Thanks for reporting back.

Issue will be closed on merge, automagically.

[2017-01-31 11:19] #347 closed

[2017-02-07 21:49] RoyalKnight opened #350 "Documentation: Open Graph"
At the moment there is no documentation about Open Graph at all. Available options and usage should be added to the documentation.

[2017-02-11 13:29] thomaszbz commented on #288
Implied: Screen shot of fallback protocol in constants editor (is still missing).

[2017-02-13 21:06] thomaszbz opened #351 "respect case-sensitivity for function typoLink_URL()"
It's `typoLink_URL()`, not `typolink_URL()`.

This is pure refactoring, not a bug ('cause no error is thrown by PHP).

**MetaSEO version**: 2.0.3

**TYPO3 version**: 7.6.14

**PHP version**: 5.6

[2017-02-13 21:13] #351 closed

[2017-02-13 22:30] thomaszbz commented on #330
Related: issue #271. @phathoang suggested to remove the part:

        // don't parse if page is not cacheable
        if (empty($conf['allowNoStaticCachable']) && !$TSFE->isStaticCacheble()) {
            return false;
        }

[2017-02-22 08:56] thomaszbz opened #354 "If config.absRefPrefix is used, fullUrl returns wrong absolute uri"
Reported by @Teddytrombone via PR #353

**MetaSEO version**: 0.0.0

**TYPO3 version**: 0.0.0

**PHP version**: 0.0.0

@Teddytrombone Which versions are you using?

[2017-02-22 09:10] thomaszbz commented on #354
If this can be classified as a bug, then it's a regression via b60308e87843de81e76a6ffe04541de45f910d9c which went productive via 2.0.0. Affected versions are 2.0.0+

[2017-02-23 06:22] thomaszbz opened #355 "Unnecessary slash in XML-Sitemap with absRefPrefix = /"
Reported by  Wolfgang Wagner via https://forge.typo3.org/issues/62557

**MetaSEO version**: 1.0.5

**TYPO3 version**: 6.2.6

In the url of the xml sitemap group is an unnecessary slash after the domain when using `absRefPrefix = /`

Genrated code:

[code]

Should be:

[code]

[2017-02-23 06:24] thomaszbz commented on #355
@mblaschke fixed it with commit d8b91f6 (1.0.6) / b60308e (2.0.0)

[2017-02-23 06:25] #355 closed

[2017-02-23 07:13] thomaszbz opened #356 "Usage of feInterface is deprecated"
Reported by  Renaud Fortier via https://forge.typo3.org/issues/65203

**tq_seo version**: 6.0.1

**TYPO3 version**: 6.2.9

We have a deprecated log for this extension:

Usage of `feInterface` is no longer part of the TYPO3 CMS Core. Please check `EXT:tq_seo`.

how we fix it:

In the file `ext_tables.php` at line 214 we change the code from this

`\TYPO3\CMS\Core\Utility\ExtensionManagementUtility:

[2017-02-23 07:18] thomaszbz commented on #356
This got fixed by @mblaschke via metaseo 1.0.6 (35c81c6635e677033a0b04739b81156ad56cb724), whereas removing the last parameter got removed via #144 (c92e8ae) in metaseo 2.0.0.

[2017-02-23 07:18] #356 closed

[2017-02-24 17:07] Teddytrombone commented on #354
We are using the current version from TER (2.0.3)

I don't know, if get the question right. Do you mean the TYPO3 frontend? On our development server, we have TYPO3 installations in subdirectories, but needed the config.absRefPrefix (to get over some inline svg limitations in Firefox). So our configuration is:
`config.absRefPrefix = /subdirectory/`
The TYPO3 frontend is accessible via `http://inte

[2017-02-24 20:01] thomaszbz commented on #354
That answers it.

Which TYPO3 version are you using?

[2017-02-26 10:02] Teddytrombone commented on #354
TYPO3 7.6.15

[2017-03-10 12:41] MichiBeck opened #357 "URLs shortened in Sitemap"
Hi there,

in sitemap it cuts the pagenames in a strange way (see image), can anyone reproduce that issue?
Is that a RealUrl-config problem?

![metaseo sitemap problem](https://cloud.githubusercontent.com/assets/15154464/23795681/22522478-0597-11e7-96bf-07b0c7db5d2e.png)

Thank you very much.

**MetaSEO version**: 2.0.3

**TYPO3 version**: 7.6.16

**PHP version**: 5.6.21

**RealUrl version**: 2.1.

[2017-03-10 13:47] thomaszbz commented on #357
Could you please give us an example which illustrates what exactly is wrong here?

[2017-03-10 13:53] MichiBeck commented on #357
Sure - it crops the pagetitles like shown above.
here is the pagetree in TYPO3 BE:
![sitemap cropped](https://cloud.githubusercontent.com/assets/15154464/23797642/25f42e50-05a1-11e7-8e0b-1bf7fbab2164.png)
If you need further Information - pls let me know.

[2017-03-10 14:11] thomaszbz commented on #357
I've never seen that before. Maybe the slashes (`/`) in the page names play a role here.

Could you please drop one of the entries in metaseo's sitemap tool and see if and how it is regenerated?

[2017-03-10 14:18] MichiBeck commented on #357
What do you mean with:

[2017-03-10 14:27] thomaszbz commented on #357
Delete one of the entries. It will be regenerated after visiting the page (when logged out from the backend). You've already been at the right place (your first screen shot).

[2017-03-10 14:35] MichiBeck commented on #357
AH! Done - still the same problem:

![regenerate sitemap](https://cloud.githubusercontent.com/assets/15154464/23798949/06c71eb0-05a7-11e7-8c83-6c17da3ff067.png)

I tried it with Page "Vordächer / Carports" PID:34

[2017-03-10 17:29] thomaszbz commented on #357
Please try to delete all entries with `PID=34`. Clear caches afterwards and report back what happened after regeneration of the sitemap entry/entries.

[2017-03-11 12:39] MichiBeck commented on #357
I´m sorry - chaned nothing - it´s generated the same way and I tried a few times.

No, it was a fresh installation with the latest RealUrl Version from the beginning - And before going LIVE I cleared the realurl-tables using SQL to generate new urls.

Used Extensions:
[code]

I hope this helps a bit... I´m sorry but perhaps it helps for future versions...

[2017-03-11 14:47] thomaszbz commented on #357
Regression test: What happens if you comment out these lines (the green ones): https://github.com/mblaschke/TYPO3-metaseo/commit/45b405799fe75da499fafb8b1276e91a399dd8b5

[2017-03-13 09:26] MichiBeck commented on #357
Na, still the same problem.
And it creates always EXACTLY the same wrong names like on the last screenshot - perhaps this is important...

[2017-03-13 11:15] mario-naether opened #358 "Allow arbitrary URL manipulation dynamically for RobotsTxt even in the backend"
**MetaSEO version**: 2.0.3

**TYPO3 version**: 7.6.11

**PHP version**: 5.6.5

RealUrl version (optional): 2.1.8

Ich hab folgende TypoScript Konfiguration hinterlegt.
[code]

und bekomme dann ein PHP Fatal Error wenn ich im Backend über das Kontrollzentrum die SEO Konfiguration bearbeiten möchte.

`
[code]

`

[2017-03-13 22:34] thomaszbz commented on #358
You're trying to use TYPO3's URL manipulation functionality for the frontend in the backend:

`90.typolink.returnLast = url`

I guess this overstretches some of the infrastructure TYPO3 provides.

Eventually, it also overstretches the way this variable of metase once was intended to be used: (presumably) statically. I'm not sure on the latter, would need to look it up.

Btw, what exactly is your t

[2017-03-16 11:35] bla-kw commented on #357
I can confirm that such entries appear in the sitemap. Mostly it is 1, 2 or 3 characters. They seem to come from the URL, not just the page title. I tried several times to figure out where this comes from, but in the end I just blacklisted them.

[2017-03-16 11:52] thomaszbz commented on #357
@bla-kw Do you also use fluidpages?

@bla-kw or @MichiBeck Could you please try out the regression test (Regression test: What happens if you comment out these lines (the green ones): 45b4057 )?

[2017-03-16 12:08] MichiBeck commented on #357
Made the regession test - still the same for me...

[2017-03-16 12:19] bla-kw commented on #357
I don't have the extension fluidpages.

authcode
cal
dce
direct_mail
flexslider
formhandler
formhandler_subscription
gridelements
metaseo
my_redirects
news
newsslider
ods_osm
ods_osm_tt_address
ods_plaintext
piwik
pm_rendercontent
realurl
smile_iframe
sr_language_menu
static_info_tables
static_info_tables_de
t3jquery
tt_address

[2017-03-16 12:29] thomaszbz commented on #357
@bla-kw No extension matches. Regression test is negative, now that you don't use fluidtables. If you can somehow track it down, please report back. I'll try to reproduce with default settings. Should not be the case that I can reproduce it just with that. Please report back if you somehow can track it down.

[2017-03-16 12:52] bla-kw commented on #357
Not sure if this helps, but I just created a new page id=323 with title "kw-test", renamed it to "kw test2" then "kw / test3".

realurl module shows me:
[code]
In the sitemap module I see:
[code]

[2017-03-16 12:57] thomaszbz commented on #357
@bla-kw Which versions are you using, especially which version of realurl?

[2017-03-16 13:08] bla-kw commented on #357
Right now I have
PHP 5.6.21
TYPO3 7.6.16
realurl 2.1.9
metaseo 2.0.3
But I have seen this behaviour already several months ago the first time, with lower versions of TYPO3 and realurl, too. Unfortunately I can not tell any more when I saw it the first time.

[2017-03-16 16:05] fdrewes commented on #357
In my tests it happens when you configure absRefPrefix = /
`config.absRefPrefix = /`

With a complete Domain like the baseURL everything is fine.

[2017-03-16 18:29] bla-kw commented on #357
Interesting with the absRefPrefix. Unfortunately I can not test this on the production site. I will take a look on a dev system tomorrow.
In my example today there was a bit of URL cache poisoning, which I could track down to a misconfiguration of sr_language_menu and fixed that. But that was not the cause of the 2/ and 3/ entries in the sitemap, they still appear. But the renamed entries kw-test2

[2017-03-17 00:43] thomaszbz commented on #357
@bla-kw @fdrewes @MichiBeck could you please try this patch (taken from #354)?

https://github.com/mblaschke/TYPO3-metaseo/pull/353

If that solves it, then this issue is a duplicate of #354.

[2017-03-17 08:04] MichiBeck commented on #357
@thomaszbz I patched the file, cleared all caches, logged out from backend but it still appears...

[2017-03-17 08:23] MichiBeck commented on #357
After checking if I use `config.absRefPrefix = /` I saw that I also set `config.baseURL = {$config.protocol}://{$config.baseUrl}/` disable `config.absRefPrefix` solved the problem for me.

with disabled `config.baseURL = {$config.protocol}://{$config.baseUrl}/` and active `config.absRefPrefix = /` it´s still broken.

Using `config.absRefPrefix = {$config.protocol}://{$config.baseUrl}/` also works.

[2017-03-18 13:30] simonschaufi opened #359 "The SEO Icon in the navigation should be black/white"
**MetaSEO version**: 2.0.3

**TYPO3 version**: 7.6.16

To be compatible with the overall layout of the backend, the SEO icon (to open and collapse the sub navigation) should be black/white.

[2017-03-20 09:12] sebastianschrama commented on #254
Any news here?

[2017-03-20 09:28] thomaszbz commented on #254
Would be great if someone could provide a patch or track this down at least (=> "help wanted" tag). I still don't have a lot of time currently.

[2017-03-20 14:01] mario-naether commented on #358
Hi,

you are using this `Metaseo\Metaseo\Page\RobotsTxtPage` in your Backend Module to view the robotos.txt output.
This RobotsTxtPage class use some FE objects like `$GLOBALS['TSFE']->cObj`, this work good untill the typo link function was called.
The link function error occured because  this object `$GLOBALS['TSFE']->sys_page` isn't initialized.

If you call `$GLOBALS['TSFE']->fetch_the_id();` i

[2017-03-20 14:11] thomaszbz commented on #358
@mario-naether Do you think this might be of use for others? Do you want to provide a patch?

[2017-03-21 11:56] mario-naether commented on #358
I have create a pull request.
https://github.com/mblaschke/TYPO3-metaseo/pull/360

is it ok for you?

[2017-03-22 17:50] bla-kw commented on #357
I found an old dev VM of the project with TYPO3 7.6.10, metaseo 2.0.0 and realurl 2.0.14. I updated everything to the same version as the production server, but unfortunately I am not able to reproduce this behaviour. :(
At least absRefPrefix and baseURL are identical between production and dev configuration. But I remember I made some modifications for realurl config for news and some other small

[2017-03-22 18:17] thomaszbz commented on #357
@bla-kw could you please compare extensions between old and new? Maybe that narrows it to an extension or a version of an extension.

[2017-03-30 13:37] thomaszbz opened #361 "Replace or update Ext.JS"
**TYPO3 version**: 8 LTS

As of MetaSEO 2.0.3, we use ExtJS 3.4.1.1 to render the backend modules.

We need a concept for TYPO3 8 LTS, now that ExtJS is supposed to be removed from the core.

This issue serves for discussion what we do with our old ExtJS code.

[2017-04-01 00:26] thomaszbz commented on #325
In 8.6, `wizard_link` was touched in the core: https://github.com/TYPO3/TYPO3.CMS/blob/ed744d551a5390e906dabba41f4ddd79175cac67/typo3/sysext/core/Documentation/Changelog/8.6/Deprecation-79440-TcaChanges.rst#link-browser

Eventually, we can't use `wizard_link` any more in 8.6. Still needs to be tested.

[2017-04-03 16:11] M-arcus opened #363 "Make lastmod and priority tag optional"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 7.6.16
**PHP version**: 5.5

The lastmod and priotity tags are both optional according to https://www.sitemaps.org/de/protocol.html. There should be an option to disable them.

[2017-04-03 21:03] thomaszbz opened #364 "Documentation: Add URL to metaseo's slack channel"
[MetaSEO's slack channel](https://typo3.slack.com/messages/ext-metaseo/) is at `https://typo3.slack.com/messages/ext-metaseo/`.

That should be documented somewhere.

[2017-04-05 10:31] pdanzinger commented on #357
I think I have managed to reproduce the bug with TYPO3 7.6.16 and metaseo, both with version 2.0.3 and the current git develop commit #1b46634

It seems to occur on link indexing when:
- an absRefPrefix is used and doesn't contain the domain (e.g. an absRefPrefix like "/" or "something/", but not "http://example.com/")
- multiple links to the root page have been generated during the page rendering

[2017-04-05 15:09] MichiBeck commented on #357
This works for me! Great!

Settings:
`config.baseURL = http://www.exmple.com/`
`config.$absRefPrefixLength = /`

[2017-04-05 22:54] thomaszbz commented on #357
@pdanzinger Thanks for the patch and for tracking this down.

This issue is a regression, introduced via #190. Blame me for not reading the `static`.

However: I think the `static` should remain. Instead, decreasing via `$absRefPrefixLength--` should happen in a separate variable, so that it does not write back to the static variable.

Reason: `$apsRefPrefix` originally was written only once (if `

[2017-04-05 23:32] thomaszbz commented on #357
@MichiBeck, @pdanzinger, @bla-kw, @fdrewes   Could you please test the patch 192a46e in #366?

[2017-04-06 06:40] pdanzinger commented on #357
@thomaszbz You are right, in my patch I overlooked that $absRefPrefixLength is only set when $absRefPrefix is null.

As expected, your patch worked fine on my test server.

[2017-04-06 10:08] bla-kw commented on #357
I applied the patch this morning and deleted the blacklisted corrupted sitemap entries. Until now I haven't seen any new occurrences of this error.
Thank you very much for tracking this down.

[2017-04-06 13:07] #357 closed

[2017-04-06 14:54] thomaszbz commented on #359
Contributor added a TYPO3 version detection to work around being blocked by 6 LTS.

[2017-04-06 15:22] thomaszbz commented on #359
PR #367 is valid against 7.6:

Before:
![auswahl_165](https://cloud.githubusercontent.com/assets/11200727/24762081/934c87d4-1aed-11e7-9195-8b5adb51eef1.png)

After applying the patch:
![auswahl_166](https://cloud.githubusercontent.com/assets/11200727/24762100/a0112678-1aed-11e7-88ac-a3dcf5320045.png)

Currently testing against 6.2. Hold on...

[2017-04-06 16:12] thomaszbz commented on #359
Via PR #368:

- rebased patch set
- applied PSR-2 coding style
- removed `:class` for 5.3 compat
- added name

@simonschaufi Do you go along with PR #368?

[2017-04-06 16:48] #359 closed

[2017-04-06 17:46] #363 closed

[2017-04-06 18:00] thomaszbz commented on #119
Nobody ever reported back on this issue. I assume it got fixed in the core. I'll reopen this issue if someone reports that this issue still exists.

[2017-04-06 18:00] #119 closed

[2017-04-06 20:42] thomaszbz commented on #354
With minimal configuration:

[code]

Reproduced for sitemapindex:

![auswahl_168](https://cloud.githubusercontent.com/assets/11200727/24774733/55d874da-1b1a-11e7-8578-e8e525ee7833.png)

[2017-04-07 03:15] thomaszbz opened #370 "Root page indexed with prefix when TYPO3 is installed in subdir"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 7.6.14
**PHP version**: 5.6
**RealUrl version**: 2.1.5

With minimal configuration:

[code]

... and with TYPO3 root page accessible in

http://example.com/customdir/

... the root page gets indexed as `customdir/` instead of `/`:

[code]

[2017-04-07 03:40] thomaszbz commented on #370
`$GLOBALS['TSFE']->cObj->typoLink_URL($linkConf);`

returns

`/customdir/customdir/`

Metaseo 2.0.3 removes the first one, so that the latter remains. That seems to be a bug somewhere else, but I assume it's not in metaseo.

[2017-04-07 04:13] thomaszbz commented on #370
RealUrl 2.1.9 behaves inconsistent here: For the root page, the absRefPrefix is not removed. That happens in RealUrl's tables already. It even gets regenerated, when the entry is dropped and all caches cleared.

![auswahl_171](https://cloud.githubusercontent.com/assets/11200727/24785329/43fa8430-1b59-11e7-954e-31c83ae0f420.png)

It can be worked around in SQL:

`update tx_realurl_urldata set speak

[2017-04-07 04:26] thomaszbz commented on #238
Related: https://github.com/dmitryd/typo3-realurl/issues/313

The bug in RealUrl is still open as of RealUrl 2.1.9

[2017-04-07 04:31] thomaszbz commented on #370
There's already another bug report at RealUrl: https://github.com/dmitryd/typo3-realurl/issues/151

[2017-04-07 05:21] thomaszbz commented on #354
@Teddytrombone Could you please test patch ef5efac ?

[2017-04-07 06:50] MichiBeck commented on #357
Works also perfect for me! Thanks for this quick reaction!

[2017-04-07 13:31] thomaszbz commented on #354
@MichiBeck, @pdanzinger, @bla-kw, @fdrewes Could you please test/review patch ef5efac ?

I don't want to introduce another regression here. It's a similar issue, just with `absRefPrefix = /customdir/`, meaning that TYPO3 is installed in a subdirectory.

[2017-04-07 15:34] Teddytrombone commented on #354
Am 07.04.2017 um 07:21 schrieb Thomas Mayer:

Sorry, I'm on vacation at the moment. I will test this after the easter
holidays.

[2017-04-07 16:20] thomaszbz opened #371 "Testsuite is broken since 2.0.2"
**MetaSEO version**: 2.0.2

**TYPO3 version**: 6.2.30 and 7.6.16

**PHP version**: 7.0.15

All tests go green with same setup as soon as I go back to Metaseo 2.0.1. Both, against 6.2.30 and 7.6.16.

[2017-04-07 16:31] thomaszbz commented on #371
I could track this down to commit 7bacbdb6a5472908ef3db73282158f5c6028b7ab, which is part of 2.0.2.

[2017-04-07 17:24] #371 closed

[2017-04-07 20:00] thomaszbz opened #373 "Document testsuite setup"
**MetaSEO version**: 2.0.3
**TYPO3 version**: 6.2/7.6

Document how to run the test suite in PhpStorm

[2017-04-07 21:26] #373 closed

[2017-04-08 08:24] al-Iskandar opened #376 "Is there any timetable for compatibility with the now released Typo3 v8 LTS?"

[2017-04-08 14:49] thomaszbz commented on #376
The plan is:

- Wait for 8 LTS to get released (which is the case now)
- After that: Analyse necessary changes and start working to get MetaSEO 3.0.0 compatible to 8 LTS

MetaSEO is a community-driven project. How long it takes depends on how fast issues get reported and patches are contributed. To my knowledge, we don't have a major sponsor, letting us work full-time on the project.

@mediaessenz

[2017-04-08 20:21] thomaszbz opened #377 "8LTS: Sitemap: Fluid parse error in template"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

Happens when sitemap is opened (reported by @mediaessenz ):

`
#1407060572: Fluid parse error in template BackendSitemap_action_main_16ebba8cc6953588c32cc54f76367cc2ed92fa3c, line 43 at character 1. Error: The ViewHelper "<f:be.buttons.icon>" could not be resolved. Based on your spelling, the system would load the cla

[2017-04-08 21:08] mediaessenz opened #378 "LTS8 Call to undefined method after clicking edit icon of rootpage inside control center module"
LTS8: `Call to undefined method TYPO3\CMS\Core\Page\PageRenderer::setBackPath()` after clicking edit icon of rootpage inside control center module

[2017-04-08 21:17] thomaszbz commented on #378
Related: https://forge.typo3.org/projects/extension-cal/repository/revisions/6284f7cae540a186a4821f18590ffb430a936604/diff/Classes/Controller/Api.php

[2017-04-08 22:02] thomaszbz commented on #376
**Update**: It looks as if 8LTS still comes shipped with ExtJS, thanks to the everlasting PageTree :wink:.

With some luck, MetaSEO 3.0.0 can become compatible with 8LTS without having to port all the Javascript. There's still a lot of things to do, but if we can port the Javascript _after_ releasing 3.0.0, 8LTS-compatibility is much sooner on the horizon. We're still investigating what needs to b

[2017-04-08 22:26] thomaszbz commented on #377
Related:

- https://docs.typo3.org/typo3cms/extensions/core/8-dev/singlehtml/Index.html#breaking-69863-removed-deprecated-code-from-ext-fluid
- https://forge.typo3.org/issues/69863
- https://forge.typo3.org/projects/typo3cms-core/repository/revisions/8b693daac0cc381f10c74bc5d78b2448f55111f3

[2017-04-08 23:18] thomaszbz commented on #361
Seems as if 8LTS still ships ExtJS, thanks to the everlasting PageTree ;-)

[2017-04-09 00:05] thomaszbz commented on #357
Related: #178

[2017-04-09 00:35] thomaszbz opened #379 "PHP 5.4: Refactor array() to []"
**PHP version**: 5.4+

Refactor `array()` syntax to `[]` syntax. Can be done for PHP 5.4+,

TYPO3 CMS 6.2 is compatible to PHP 5.3 which is why we cannot do this refactoring step in MetaSEO 2.x releases (which still supports 6.2).

This issue is by no means urgent and the benefit is more or less limited, especially in terms of performance. `array()` still runs perfectly fine with PHP7+.

This issu

[2017-04-09 00:55] thomaszbz opened #380 "PHP 5.5: Use ::class for class name resolution"
**PHP version**: 5.5

Refactor class names in strings to `::class` syntax. Can be done for PHP 5.5+,

TYPO3 CMS 6.2 is compatible to PHP 5.3 which is why we cannot do this refactoring step in MetaSEO 2.x releases (which still support 6.2).

This issue is by no means urgent. One benefit of this issue is that IDEs better support refactoring steps (like moving a name space) because there is no need t

[2017-04-09 01:16] thomaszbz commented on #376
**Update**: Tracking `8LTS: must-have`-tagged and other solved issues in [milestone 3.0.0](https://github.com/mblaschke/TYPO3-metaseo/milestone/6), whereas optional (`8LTS: whishlist`-tagged) steps are now tracked in [milestone 3.1.0](https://github.com/mblaschke/TYPO3-metaseo/milestone/18).

@al-Iskandar Hope that helps users to figure out how far LTS8-compatibility has become.

[2017-04-09 11:09] thomaszbz commented on #377
I get the error too:

`BackendSitemap_action_main_e567963f0aafa042fe78365e3d6ec05395f430fb, line 43 at character 1.
Error: The ViewHelper "<f:be.buttons.icon>" could not be resolved. Based on your spelling, the system would load the class "TYPO3Fluid\Fluid\ViewHelpers\Be\Buttons\IconViewHelper", however this class does not exist. (error code 1407060572).
Template source chunk: <f:be.buttons.icon u

[2017-04-09 11:22] thomaszbz commented on #377
Deprecation was in 7.5 already:

- https://docs.typo3.org/typo3cms/extensions/core/7.6/Changelog/7.5/Deprecation-69535-DeprecateTYPO3CMSFluidViewHelpersBeButtonsIconViewHelper.html

Use the core icon viewhelper \TYPO3\CMS\Core\ViewHelpers\IconViewHelper instead.

[2017-04-09 11:30] thomaszbz opened #381 "8LTS: Undeclared arguments passed to FlashMessagesViewHelper: renderMode"
MetaSEO version: 3.0.0-dev
TYPO3 version: 8.7.0
PHP version: 7.0.16

When opening Control Center or Sitemap, an error occurs:

[2017-04-09 12:34] thomaszbz commented on #222
Most of the flags seem to work already:
![auswahl_176](https://cloud.githubusercontent.com/assets/11200727/24837307/96670b6a-1d31-11e7-8235-25e073af08f3.png)

[2017-04-09 12:47] thomaszbz commented on #381
Rendermode got deprecated in 7.3. Since then defaults to renderMode = div, which is basically what we did. Removal should not change anything.

https://docs.typo3.org/typo3cms/extensions/core/7.6/Changelog/7.3/Breaking-63453-ChangedRenderingOfFlashMessagesViewHelper.html#breaking-63453-changed-rendering-of-flashmessagesviewhelper

[2017-04-09 13:00] #381 closed

[2017-04-09 13:01] #222 closed

[2017-04-09 13:16] thomaszbz commented on #376
**Update:** A new branch with name `feature/8lts` is available. It is still unstable, but some features already seem to run. Even our Javascript code already (still) runs. You can help us: Test with the new branch, report bugs & fix issues.

[2017-04-09 13:43] thomaszbz commented on #378
The patch removes the workaround #150, which was necessary because of a regression in 7.4. Hope they fixed that otherwise. Needs to be tested. Anyways: The old workaround can't be applied any more in 8LTS. Had to remove it completely, because the function it uses does not exist any more.

[2017-04-09 13:45] #378 closed

[2017-04-09 14:05] #377 closed

[2017-04-09 14:18] thomaszbz commented on #325
Seems as if that still works in 8.7 LTS:
![auswahl_177](https://cloud.githubusercontent.com/assets/11200727/24837992/1aa60102-1d40-11e7-9c9f-2fb66be00287.png)

[2017-04-09 14:34] thomaszbz opened #385 "8LTS: TCA: Migrated 'showitem' field"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`Migrated 'showitem' field from TCA table tx_metaseo_setting_root['types']['0']" : Moved additional palette with name "tx_metaseo_setting_root['types']['0']['pallette_sitemap']" as 3

[2017-04-09 14:35] thomaszbz opened #386 "8LTS: TCA icon: filename only is deprecated"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`[tx_metaseo_setting_root.ctrl.iconfile] filename only is deprecated, use EXT: or absolute reference instead`

[2017-04-09 14:38] thomaszbz commented on #325
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`The icon path of wizard "link" from TCA table "pages['columns']['tx_metaseo_canonicalurl']['config']['wizards']['link']['icon']"has been migrated to pages['columns']['tx_metaseo_can

[2017-04-09 14:46] thomaszbz opened #387 "8LTS: TCA: Icon path of wizard 'link' has been migrated."
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`The icon path of wizard "link" from TCA table "pages['columns']['tx_metaseo_canonicalurl']['config']['wizards']['link']['icon']"has been migrated to pages['columns']['tx_metaseo_can

[2017-04-09 14:48] thomaszbz opened #388 "8LTS: TCA: Setting 'ctrl' 'requestUpdate' was removed from tt_content"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`The TCA setting ['ctrl']['requestUpdate'] was removed from table tt_content. The column field(s) "" and "menu_type" were updated and contain option "'onChange' => 'reload'" parallel

[2017-04-09 14:52] thomaszbz opened #389 "8LTS: TCA: link wizard migrated to renderType inputLink"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`The link wizard has been migrated to a 'renderType' => 'inputLink '. It has been migrated from TCA table "pages['columns']['tx_metaseo_canonicalurl']['config']['wizards']['link']" t

[2017-04-09 15:00] thomaszbz opened #390 "8LTS: Control Center: Icons broken"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

In 8.7.0:
![auswahl_178](https://cloud.githubusercontent.com/assets/11200727/24838297/b5c4c272-1d45-11e7-8f04-6037a3393eeb.png)

In 6.2.x it was more like
![auswahl_179](https://cloud.githubusercontent.com/assets/11200727/24838302/fb5ea118-1d45-11e7-8b5e-6439b80693bf.png)

[2017-04-09 15:08] thomaszbz commented on #390
In 6.2, the pencil got rendered to HTML like this:

<span title="" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open" onclick="...;edit[tx_metaseo_setting_root][1]=edit';..."/span>

Which, for the ControlCenter, is defined in a template:
https://github.com/mblaschke/TYPO3-metaseo/blob/develop/Resources/Private/Templates/BackendControlCenter/Main.html#L43

There's anothe

[2017-04-09 15:48] thomaszbz commented on #390
The code

[code]
can be refactored to

[code]
Clicking the link even works as expected. However, TYPO3-Styling is applied:
![auswahl_180](https://cloud.githubusercontent.com/assets/11200727/24838660/8f052602-1d4c-11e7-8a49-3ab3a444137d.png)

@mblaschke Is that ok for you if we use TYPO3's icon set?

@mblaschke @mediaessenz Do you have a better idea how to refactor this? We use that pattern over an

[2017-04-09 18:17] mediaessenz commented on #390
For me this is absolute ok.
Just pushed a fix for this to my 361-vue-js-port branch

[2017-04-09 19:54] mediaessenz opened #391 "8LTS: Use Fluid based 'ModuleTemplate' instead of the rusty 'DocumentTemplate'"
Modules use old typo3 css classes and ids.
E.g. module headers nav bar has different height than other backend modules.

[2017-04-09 19:58] mediaessenz opened #392 "8LTS: Tables in sitemap and control panel use old styles"
The tables in sitemap overview and control panel overview doesn't use bootstrap classes for tables.

[2017-04-10 02:57] thomaszbz commented on #110
@AndreasA I just stumbled upon a feature in 8.7 LTS: `Always prepend this domain in links`. Not sure if this is new in 8LTS.

With some luck, this can be used to set a fixed domain. With some luck, metaseo even uses that. I did not test it out, however. Would be great if someone can report back what it does.

![auswahl_183](https://cloud.githubusercontent.com/assets/11200727/24844335/29aa7e16-1daa

[2017-04-10 04:22] thomaszbz commented on #376
**Update:** Indexing and generating sitemaps still seems to work in principle.

[2017-04-10 04:36] #390 closed

[2017-04-10 05:13] thomaszbz opened #394 "8LTS: Metags: Icons not clickable & always visible"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

- Icons should _only_ be visible when mouse hovers over the field
- Clicking on the icon should do exactly the same as clicking on the field. As of e50dc883faa62807a7c7394b265d25fdd9dc8803, nothing happens when an icon is clicked.

Clicking on the field still works as expected. This seems to be a pure CSS selector iss

[2017-04-10 06:35] thomaszbz opened #395 "8LTS: MetaTags: URL view does not show entries"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

URL view does not show entries when RealURL 2.2.0 is installed OR compatibility7 is NOT installed.

How to reproduce:

**Reproducing step 1:**

- Make sure entries exist in the MetaTag section:

![auswahl_185](https://cloud.githubusercontent.com/assets/11200727/24848545/79836642-1dc7-11e7-87b4-78b93243df7c.png)

**Rep

[2017-04-10 08:10] thomaszbz commented on #395
Update:

- With  compatiblity7 _disabled_, it just _still_ worked.
- I even could install RealUrl 2.2.0, and it _still_ worked:

![auswahl_188](https://cloud.githubusercontent.com/assets/11200727/24851753/31441602-1dd5-11e7-9815-36cda6b5b404.png)

Even URL simulation works (thereby: don't click the icon, but next to it. The icon shows no activity via #394 .):

![gh1tnsgbtv](https://cloud.githubuse

[2017-04-10 08:56] thomaszbz opened #396 "8LTS: Use UriBuilder directly"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Open e.g. Metatag section (one of the Ajax requests should do).

Deprecation log:

`10-04-17 07:34: TYPO3\CMS\Backend\Utility\BackendUtility::getAjaxUrl() - since TYPO3 v8, will be removed in TYPO3 v9, use the UriBuilder directly.
`

[2017-04-10 09:02] thomaszbz opened #397 "8LTS: ExtensionManagementUtility::registerAjaxHandler deprecated"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Open e.g. Metatag section (one of the Ajax requests should do).

Deprecation log:

`10-04-17 08:14: TYPO3\CMS\Core\Utility\ExtensionManagementUtility::registerAjaxHandler() - since TYPO3 v8, will be removed in TYPO3 v9`

Migration:

[2017-04-10 09:20] thomaszbz commented on #242
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Open e.g. Metatag section (one of the Ajax requests should do).

Deprecation log:

`10-04-17 07:34: DatabaseConnection a.k.a. $["TYPO3_DB"] has been marked as deprecated in TYPO3 v8 and will be removed in TYPO3 v9. Please use the new

[2017-04-10 09:29] thomaszbz opened #398 "8LTS: Ajax: Discouraged use of $TYPO3_CONF_VARS[BE][AJAX]"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Open e.g. Metatag section (one of the Ajax requests should do).

Deprecation log:

`10-04-17 07:34: Using the traditional way for AJAX requests via $TYPO3_CONF_VARS[BE][AJAX] is discouraged. Use the Backend Routes logic instead.`

Re

[2017-04-10 10:05] thomaszbz opened #399 "8LTS: CSS alignment: in "Metatag/Searchengine Information" and "Metatag/Url""
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:
![auswahl_189](https://cloud.githubusercontent.com/assets/11200727/24856961/cb29fcee-1de6-11e7-9aa0-a75a3123913c.png)
![auswahl_190](https://cloud.githubusercontent.com/assets/11200727/24856976/d2b09086-1de6-11e7-882c-f3ca0598c12a.png)

[2017-04-10 10:48] thomaszbz commented on #391
Related:

- Available since February 2015 via https://github.com/lolli42/TYPO3.CMS-Catharsis/commit/cf26e30e58b4f109e43ee75158f855ac1167778a

[2017-04-10 11:12] #391 closed

[2017-04-10 11:22] #392 closed

[2017-04-10 18:27] thomaszbz commented on #396
Implemented it according to this example: https://werkraum.net/devblog/detail/article/backend-routes-ajax-typo3-76/

Thereby moving registration of the Ajax controllers to <extension>/Configuration/Backend/AjaxRoutes.php.

[2017-04-10 19:53] thomaszbz opened #402 "Pagetitle Simulator behaves inconsistent"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- Add new page on the same level as the root page (_not_ under the root page)
- Move the new page under the root page (drag&drop)
- Run pagetitle simulator.

Result:

- Single page title simulation reports title of another page

![vlrrib7nqq](https://cloud.githubusercontent.com/assets/11200727/24879

[2017-04-10 19:58] thomaszbz opened #403 "8LTS: NullTimeTracker deprecated"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

The `NullTimeTracker` got deprecated.

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Open e.g. Metatag section (one of the Ajax requests should do).

Deprecation log:

`10-04-17 19:43: TYPO3\CMS\Core\TimeTracker\NullTimeTracker->start() - since TYPO3 v8, will be removed in v9, u

[2017-04-10 20:01] thomaszbz opened #404 "8LTS: BackendUtility::getRecordsByField() got deprecated"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

`BackendUtility::getRecordsByField()` got deprecated

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Open e.g. Metatag section (one of the Ajax requests should do).

Deprecation log:

[2017-04-10 20:16] thomaszbz commented on #398
Duplicates #396, which made this deprecation message disappear, too.

[2017-04-10 20:16] #398 closed

[2017-04-10 20:17] thomaszbz commented on #397
Duplicates #396, which made this deprecation message disappear, too.

[2017-04-10 20:17] #397 closed

[2017-04-11 10:19] mediaessenz opened #407 "8LTS: Change icons of backend modules to svg"

[2017-04-11 12:01] mediaessenz opened #408 "8LTS: Move control center and sitemap to one module"

[2017-04-11 12:10] mediaessenz opened #409 "8LTS: Icon to Ajax-Spinner is broken"
The icon big-f0f0f0.gif spinner icon is not available anymore since 8.7.0.

[2017-04-11 12:35] thomaszbz commented on #409
reproduced.
![auswahl_200](https://cloud.githubusercontent.com/assets/11200727/24909414/0ead1da6-1ec4-11e7-9f9b-15ec7ea253ef.png)

[2017-04-11 12:53] #409 closed

[2017-04-11 13:31] mediaessenz opened #411 "8LTS: SEO/Metatags: URL view throws http status 500"
Reason: column `url_scheme` does not exists under TYPO3 8.7.0

[2017-04-11 13:57] thomaszbz commented on #411
Attribute `pages.url_scheme` was removed in 8 LTS.

https://forge.typo3.org/issues/79302

[2017-04-11 15:28] thomaszbz commented on #411
Website owners could still configure schema selection via 301-redirects, configured via web server (e.g. `.htaccess` file).

As soon as both schemas are used for a single domain, Metaseo should know a schema for each page, because otherwise we can't create site maps which contain absolute URLs, correct schema included.

Just by serving both protocols (best effort approach), the size of a sitemap w

[2017-04-11 16:51] thomaszbz opened #412 "8LTS: little CSS issue"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16
**Browser**: FF 52.0.2 (64bit, ubuntu 16.04)

How to reproduce:
![auswahl_203](https://cloud.githubusercontent.com/assets/11200727/24920512/ca995b56-1ee7-11e7-90f0-8ec1ed793dcd.png)

[2017-04-11 20:53] thomaszbz commented on #244
As it turned out, Guzzle is useful to request remote resources - client-side. We don't do that in metaseo's Ajax implementation. Therefore, this issue obsolete.

[2017-04-11 21:53] thomaszbz commented on #396
Using the `ResponseInterface`, a typical AJAX response in metaseo looks like this:
![auswahl_205](https://cloud.githubusercontent.com/assets/11200727/24932294/26340780-1f11-11e7-8d8e-455ec0760dfc.png)

That said, the payload is in the body of the http response and not in the header (thereby breaking obscure caching infrastructure by exceeding maximal header length as it was the case in #233).

Usi

[2017-04-12 01:05] thomaszbz commented on #209
TYPO3's ServerRequestFactory (which serves ServerRequests which implements ServerRequestinterface) internally gets its POST data from GeneralUtility::_Http() which is pretty much the same we used before.

https://github.com/TYPO3/TYPO3.CMS/blob/a483d7a203bcdaeefc0df40b7d4f96b566ed06e7/typo3/sysext/core/Classes/Http/ServerRequestFactory.php#L60

[2017-04-12 01:17] #209 closed

[2017-04-12 01:21] thomaszbz commented on #395
Duplicates #411: The url_schema attribute got removed.

[2017-04-12 01:21] #395 closed

[2017-04-12 01:31] thomaszbz commented on #404
As of Metaseo 3.0.0-dev (6e0f0837e8d46ee3582235ed9d53bef8d8e2277d), Metaseo never calls BackendUtility::getRecordsByField() directly. I have not seen the message again for some days. Maybe it's gone already.

[2017-04-12 09:30] MichiBeck opened #414 "Incomplete canonical url on tx_news detail page (using shariff)"
Hi, I have an issue with the canonical url on the news detail page.

In all articles, it generates this incomplete canonical meta-tag:

`<link rel="canonical" href="https://www.xyz.de/company/news/detail/">`

missing the title of the article at the end.

Anyone the same problem?

I found a solution for a typoscript based canonical tag, perhaps this helps:
http://stackoverflow.com/questions/3993268

[2017-04-12 12:16] thomaszbz commented on #414
duplicates #269, #234

[2017-04-12 22:08] thomaszbz opened #415 "8TLS: Awesome Font: Icon not working any more"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

Lately introduced (#359 / 2.0.4) icon using Awesome font is broken already in 8 LTS.

Here's how it looks like in 3.0.0-dev / 8 LTS with patch f73b32744e56fbf432ecf2cf21dc0ba11e9b6b79 applied:

![auswahl_206](https://cloud.githubusercontent.com/assets/11200727/24981559/8efffd60-1fdd-11e7-9e76-ad12afc39415.png)

That's

[2017-04-13 00:11] thomaszbz commented on #407
Icons look blurrish as of 8.7:

![auswahl_206](https://cloud.githubusercontent.com/assets/11200727/24984541/58435c0c-1fee-11e7-98cb-a76445e2f8de.png)

This is how it looked like in 7.6:
![jcgt5kpsjt](https://cloud.githubusercontent.com/assets/11200727/24984557/6ef1878a-1fee-11e7-9aed-d6700c42a3c0.png)

[2017-04-13 06:36] thomaszbz opened #416 "PHP7: Add return type declarations"
**PHP version**: 7.0

Refactor function signatures: Add return type declarations

http://php.net/manual/de/migration70.new-features.php

[2017-04-13 21:18] simonschaufi commented on #415
I figured out the problem. It's about iconIdentifier and icon. In v7 iconIdentifier is stronger than icon, in v8 it was turned around. Therefor I need to "unset" the icon.

[2017-04-13 21:25] thomaszbz commented on #415
Doing so won't break 7, now that 3.0.0 is for 8 LTS only.

[2017-04-14 00:59] thomaszbz commented on #403
https://docs.typo3.org/typo3cms/extensions/core/8-dev/singlehtml/#deprecation-73185-deprecate-nulltimetracker

[2017-04-14 01:26] #403 closed

[2017-04-14 03:12] thomaszbz commented on #389
https://docs.typo3.org/typo3cms/extensions/core/8-dev/Changelog/8.6/Deprecation-79440-TcaChanges.html#link-browser

[2017-04-14 03:22] thomaszbz commented on #389
Seems as if there is no alternative (necessary?) for

                      'urlParameters' => array(
                          'mode' => 'wizard',
                          'act' => 'url'
                      )

[2017-04-14 03:34] #325 closed

[2017-04-14 03:34] #387 closed

[2017-04-14 03:34] #389 closed

[2017-04-14 04:04] #386 closed

[2017-04-14 04:06] thomaszbz opened #422 "8LTS/TCA: 'renderType' => 'inputDateTime' was added in TCA"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "Check TCA Migrations"

`The TCA setting 'renderType' => 'inputDateTime' was added in TCA tx_realurl_pathdata['columns']['expire']['config']`
`The TCA setting 'renderType' => 'inputDateTime' was added in TC

[2017-04-14 04:20] thomaszbz commented on #422
Seems to come from realurl itself

[2017-04-14 04:20] #422 closed

[2017-04-14 04:22] #385 closed

[2017-04-14 04:25] thomaszbz commented on #388
Does not stem from metaseo. Possibly comes from compatibility7.

[2017-04-14 04:25] #388 closed

[2017-04-14 04:27] thomaszbz commented on #404
Seems this is gone by itself.

[2017-04-14 04:27] #404 closed

[2017-04-14 04:42] thomaszbz commented on #376
**Update:** Besides #411, everything seems to work already. Issues from #411 can be mitigated by installing the compatibility7 extension.

The remaining issues are design related, thereby not blocking any feature.

[2017-04-14 04:48] thomaszbz opened #423 "8LTS: TCA: Check usage of ext_tables.php"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

How to reproduce:

- open install tool
- Configuration Presets: Enable "Debug" mode
- Important Actions: Execute "TCA in ext_tables.php check"

![auswahl_230](https://cloud.githubusercontent.com/assets/11200727/25033484/6838b710-20de-11e7-831e-110252eea505.png)

https://forge.typo3.org/issues/78384 commit message says

[2017-04-14 05:22] #423 closed

[2017-04-14 17:00] thomaszbz commented on #423
After the patch, the whole issue goes green:

![auswahl_231](https://cloud.githubusercontent.com/assets/11200727/25049952/a48f35de-2144-11e7-9dd6-be4527d62437.png)

[2017-04-14 18:44] thomaszbz commented on #376
**Update:** TCA checks performed via install tool go green now.

[2017-04-14 20:59] thomaszbz commented on #415
Thanks!

[2017-04-14 20:59] #415 closed

[2017-04-14 21:01] #407 closed

[2017-04-14 21:18] thomaszbz commented on #376
**Update:** @mediaessenz and @simonschaufi fixed icon related stuff.

[2017-04-14 23:53] thomaszbz opened #427 "8LTS/PSR-7: Fix test suite"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

After migration to PSR-7 function signatures via #396, #397, #209, changes also need to be applied to the test suite.

[2017-04-15 00:32] thomaszbz opened #428 "8LTS: test suite: getMock() function deprecated in PHPUnit 5.7.5"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

TYPO3 8.7 LTS comes shipped with PHPUnit 5.7.5.

As of PHPUnit 5.7.5, the getMock() function is deprecated and running the test suite throws warnings in the manner of:

PHPUnit_Framework_TestCase::getMock() is deprecated, use PHPUnit_Framework_TestCase::createMock() or PHPUnit_Framework_TestCase::getMockBuilder() inst

[2017-04-15 00:38] thomaszbz commented on #428
createMock() requires PHPUnit 5.4.0 at least: https://github.com/sebastianbergmann/phpunit/wiki/Release-Announcement-for-PHPUnit-5.4.0

[2017-04-15 00:46] #428 closed

[2017-04-15 00:46] #427 closed

[2017-04-15 00:52] thomaszbz commented on #428
As of 064d5ef, all unit tests go green again:

[code]

[2017-04-15 02:31] thomaszbz opened #430 "8LTS: Document how to run the test suite"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

A few things changed:

* TYPO3 8.7 LTS comes along with a separate vendor package which is supposed to be used to run a test suite.
* TYPO3 8.7 needs a recent version of PHPUnit. It comes shipped with PHPUnit 5.7.5.
* PHPUnit 5.7.5 needs a parameter `--whitelist <dir>`, otherwise it won't produce a code coverage repor

[2017-04-15 03:38] #430 closed

[2017-04-15 03:45] thomaszbz commented on #376
**Update:** MetaSEO's test suite now goes green again. Running the test suite against TYPO3's new testing framework now is documented.

[2017-04-15 04:09] thomaszbz commented on #430
[Preview here!](https://github.com/mblaschke/TYPO3-metaseo/blob/feature/8lts/Documentation/TestingManual/Index.rst)

[2017-04-15 08:04] thomaszbz opened #433 "Documentation: document migrations"
**MetaSEO version**: 2.0.3

* Migration from tq_seo to metaseo
* Migrations from LTS to LTS

[2017-04-15 08:45] #433 closed

[2017-04-15 13:50] thomaszbz opened #437 "8LTS: HMENU: Fix link meta tags links"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7+

Reported by @mmunz via PR #435:

This pull request fixes two things related to link meta tags:

`Call to undefined method TYPO3\CMS\Frontend\ContentObject\ContentObjectRenderer::HMENU() `

because the method was [removed in 8.0](https://forge.typo3.org/projects/typo3cms-core/repository/revisions/aa0013f09ba528c6ac2b51d6ca

[2017-04-15 14:05] mediaessenz commented on #412
Can not reproduce this problem. Nether under chrome 57 nor under firefox 52 (Mac)

[2017-04-15 15:03] mediaessenz opened #438 "Info icon under URL and Pagetitle submodule does not work"
**MetaSEO version**: 3.0.0-dev

**TYPO3 version**: 8.7.0

**PHP version**: 7.0.0

[2017-04-15 22:53] thomaszbz commented on #438
_Not_ reproduced with

MetaSEO version: 3.0.0-dev, d8cfe470c8c6bf3e1d4c00aa9404dd88c50fc927
TYPO3 version: 8.7.1-dev, 6da38a68794a35d3a2fb9093d083bcaeaf1b35e2
PHP version: 7.0.16

I get a flash message, showing the URL.

@mediaessenz of course, you may not click the `i` directly but the area around the `i`. Watch your mouse pointer change and there you have it. That's pretty self-explaining :-)

N

[2017-04-15 23:10] thomaszbz commented on #438
Reproduced it against

MetaSEO version: 3.0.0-dev, your branch dev/394-show-icons-only-on-hover, 8e8ad8feac23d74070d835a72a938602cf58fcf4
TYPO3 version: 8.7.1-dev, latest master, 6da38a68794a35d3a2fb9093d083bcaeaf1b35e2
PHP version: 7.0.16

The `i` looks a bit bigger, and there is no clickable area left at all. Still, it's the same issue. Totally CSS selector related.

[2017-04-15 23:14] thomaszbz commented on #394
Hover effect works, but icons still are not clickable.

[2017-04-15 23:18] thomaszbz commented on #438
Via #394 (8e8ad8f), the hover effect works, but _all_ icons still are not clickable directly, not only the info icon (`i`). I assume that bringing back clickability for _all_ icons also brings it back for the info icon (`i`).

[2017-04-15 23:38] thomaszbz commented on #438
I reported back in #394. I think this issue is a duplicate of #394. I'll leave this issue open for some time until things get sorted out.

[2017-04-15 23:56] thomaszbz commented on #412
With e04875f applied, the same browser now shows it perfectly.
![grafik](https://cloud.githubusercontent.com/assets/11200727/25067555/d8d9152c-2247-11e7-8ab3-e28779363eed.png)

[2017-04-16 00:31] thomaszbz commented on #412
5c3db8c extends the copied class directly.

[2017-04-16 01:24] thomaszbz commented on #437
Works as expected after enabling `linkGeneration` and applying cd5dd2f:

[code]

[2017-04-16 01:27] #437 closed

[2017-04-16 01:39] thomaszbz opened #443 "linkGeneration always set to the root page when using `nav_title`"
**MetaSEO version**: 3.0.0-dev, d8cfe470c8c6bf3e1d4c00aa9404dd88c50fc927
**TYPO3 version**: 8.7.0
**PHP version**: 7

@mmunz reported via PR #435:

linkGeneration (`prev/next`) was always set to the root page when `nav_title` was used. Fix that by also resetting it in the `HMENU` TypoScript

[2017-04-16 01:42] thomaszbz commented on #443
@mmunz Is this 8LTS related, meaning it does not occur in Metaseo 2.0.0 / TYPO3 6.2 or 7.6?

The patch looks like an older issue. If it can be reproduced against Metaseo 2.0.x, I'd also backport the patch.

[2017-04-16 02:01] thomaszbz commented on #443
Backported the patch against branch `develop` (metaseo 2.x) via PR #444. Still need to reproduce the bug report.

[2017-04-16 02:06] #412 closed

[2017-04-17 02:30] thomaszbz commented on #438
Things sorted out. And yes, it's a duplicate of #394.

[2017-04-17 02:30] #438 closed

[2017-04-17 02:41] #399 closed

[2017-04-17 02:43] #394 closed

[2017-04-17 03:44] thomaszbz commented on #376
**Update:** Grids look great now and all the grid icons should be clickable again.

[2017-04-17 10:46] thomaszbz commented on #411
9d3d0d1 does:

- behave as before in case compatibility7 extension is installed
- if not: Don't render the url_scheme column in the grid and
  don't use the attribute for canonicals.

[2017-04-17 10:46] #411 closed

[2017-04-17 11:00] thomaszbz commented on #376
#411 is solved, dealing with the removed url_scheme. Read it for details.

[2017-04-17 11:01] thomaszbz commented on #376
All issues in milestone 3.0.0 are currently solved. Special thanks go to @mediaessenz who helped a lot.

[2017-04-18 01:29] thomaszbz opened #449 "8LTS: class UnitTestCase moved to TestingFramework namespace"
**MetaSEO version**: 3.0.0-dev
**TYPO3 version**: 8.7.0
**PHP version**: 7.0.16

    namespace TYPO3\CMS\Core\Tests;
    /**
     * @deprecated since TYPO3 8, will be removed in TYPO3 9
     */
    abstract class UnitTestCase extends \TYPO3\TestingFramework\Core\Unit\UnitTestCase
    {
    }

As of 8.7 LTS, `TYPO3\CMS\Core\Tests\UnitTestCase` is just an empty class, extending the class in the new

[2017-04-18 01:59] thomaszbz commented on #449
Related:

* https://wiki.typo3.org/Blueprints/StandaloneUnitTests

[2017-04-18 02:02] #449 closed

[2017-04-18 02:44] thomaszbz opened #451 "New branching concept and documentation"
**MetaSEO version**: ~3

Now that we support MetaSEO versions 2.x and 3.x in parallel, we need a new branching concept.

## Current state of the discussion:

## Structure

* **Feature** branches have prefix `feature-`. Please note that feature branches could be based upon an older version of metaseo for two reasons:

    * not up-to date to the master branch (current `master` needs to be merged in

[2017-04-18 10:29] thomaszbz opened #452 "github readme: update links to badges"
**MetaSEO version**: 2.1.0

Did not see updates for many months here:

![auswahl_250](https://cloud.githubusercontent.com/assets/11200727/25126407/8697517e-2432-11e7-8a46-3f4e1a67b96c.png)

Old links are:

    [![Average time to resolve an issue](https://isitmaintained.com/badge/resolution/mblaschke/typo3-metaseo.svg)](https://isitmaintained.com/project/mblaschke/typo3-metaseo "Average time to res

[2017-04-18 11:17] #452 closed

[2017-04-18 11:18] #364 closed

[2017-04-18 12:43] thomaszbz opened #455 "Backport #423: Don't touch TCA in ext_tables.php"
**MetaSEO version**: 6.2/7.6

Backport #423 to 2.1

[2017-04-18 12:44] #455 closed

[2017-04-18 17:35] thomaszbz opened #456 "Test and document migration paths 7.6 -> 8.7"
**MetaSEO version**: 3.0.0
**TYPO3 version**: 8.7.0
**PHP version**: 7

Migration path should exist for each:

* composer update via TER
* composer update via Packagist
* non-composer install

[2017-04-18 22:31] thomaszbz commented on #231
@birgerstoeckelmann could you please counter test feature/custom-pagetype? I already did the changes which were necessary, just did I not test if it actually still works yet. Would you? E.g. with a

    composer require mblaschke/metaseo:dev-feature/custom-pagetype

[2017-04-19 07:03] thomaszbz commented on #455
The backport breaks 7.6 at least:

static template is not loaded any more. Reverting this issue.

[2017-04-19 07:46] thomaszbz commented on #358
Reproduced the exception against current 2.1.0-dev on develop (ea646bab72fe2c80397e1d9b097bcce0202dd17f):

When clicking on the root page

![auswahl_252](https://cloud.githubusercontent.com/assets/11200727/25168697/d0a8a1a2-24e4-11e7-9d01-85d8697d7886.png)

then I get the following exception with the TypoScript code you provided:

I think we could also classify that as a bug.

Your fix fixes it, j

[2017-04-19 07:52] #358 closed

[2017-04-22 08:35] #402 closed

[2017-04-22 09:11] thomaszbz commented on #443
Reproduced. It's a bug that affects all versions of metaseo.

[2017-04-22 09:11] #443 closed

[2017-04-23 09:08] thomaszbz opened #462 "Raise copyright year"
**MetaSEO version**: 2.0.4

Currently:

[code]

[2017-04-23 09:39] thomaszbz opened #463 "Fix CS issues brought to light by SensioLabsInsight"
**MetaSEO version**: 2.0.4

https://insight.sensiolabs.com/projects/19914ab4-1f0f-4be0-9215-410fba880af2/analyses/231

[2017-04-23 09:46] thomaszbz commented on #380
To be rewritten during this step:

https://github.com/mblaschke/TYPO3-metaseo/blob/d197727887a45ae6c5f90f81831fc1700c224c06/Classes/Controller/Ajax/AbstractPageSeoController.php#L398

For instance, I removed the todo, now that we have a ticket for this.

[2017-04-23 10:17] thomaszbz opened #464 "Custom Meta Tag: Allow additional property names than just rel and href"
**MetaSEO version**: 2.1.0

Custom meta tags currently can be added only with properties `rel` and `href`. That's a limitation which should not be.

See:

https://github.com/mblaschke/TYPO3-metaseo/blob/develop/Classes/Page/Part/MetatagPart.php#L591

Removed todo comment, now that we have a ticket on this.

If someone really wants to use this, please report back to this ticket or provide a patch.

[2017-04-23 13:44] #462 closed

[2017-04-23 13:44] #463 closed

[2017-04-24 11:32] thomaszbz commented on #57
Reproduced. Not having case 2 seems indeed like a bug to me.

The existing code terminated on first occurance of a suffix or prefix:

                        if ($pageTitlePrefix !== false || $pageTitleSuffix !== false) {
                            // pagetitle found - break foreach
                            break 2;
                        }

... thereby the order was along the root line, but

[2017-04-24 11:55] #57 closed

[2017-04-24 12:54] #167 closed

[2017-04-25 11:11] thomaszbz commented on #260
Additional suggestions:

https://piwik.org/blog/2017/04/important-performance-optimizations-load-piwik-javascript-tracker-faster/?pk_campaign=org_newsletter_2017_04_2&pk_medium=email&pk_source=piwik_org_newsletter

[2017-04-25 11:55] mediaessenz opened #471 "Move addStaticFile to TCA/Overrides/sys_template.php"
According to [API documentation](https://typo3.org/api/typo3cms/class_t_y_p_o3_1_1_c_m_s_1_1_core_1_1_utility_1_1_extension_management_utility.html#a13ee6921557e1123c328a7dd3df9c576),

`\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addStaticFile()` must go into file `Configuration/TCA/Overrides/sys_template.php` to benefit from TCA caching. That's not working via `ext_tables`, according to d

[2017-04-25 12:01] thomaszbz commented on #423
According to [API documentation](https://typo3.org/api/typo3cms/class_t_y_p_o3_1_1_c_m_s_1_1_core_1_1_utility_1_1_extension_management_utility.html#a13ee6921557e1123c328a7dd3df9c576),

`\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addStaticFile()` must go into file `Configuration/TCA/Overrides/sys_template.php` to benefit from TCA caching. That's not working via `ext_tables`, according to d

[2017-04-25 12:09] #471 closed

[2017-04-25 16:40] thomaszbz commented on #231
That works great.
![auswahl_261](https://cloud.githubusercontent.com/assets/11200727/25396900/9e514f04-29e6-11e7-8e29-a0a7c636fa42.png)

[2017-04-25 16:45] #231 closed

[2017-04-25 17:31] thomaszbz commented on #172
Page properties now have a new section:

![grafik](https://cloud.githubusercontent.com/assets/11200727/25398858/c6620220-29ed-11e7-9f9b-bc606dc6415a.png)

[2017-04-25 18:06] #172 closed

[2017-04-25 18:06] #350 closed

[2017-04-25 19:22] thomaszbz commented on #57
I just looked it up: The Inheritance mode already exists in the gui and is accessible via page properties:
![auswahl_263](https://cloud.githubusercontent.com/assets/11200727/25403637/479432c8-29fd-11e7-8cf6-3bc4782bafde.png)

[2017-04-25 21:34] #287 closed

[2017-04-25 21:34] #288 closed

[2017-04-25 21:34] #289 closed

[2017-04-26 09:08] Teddytrombone commented on #354
Sorry, but the patch doesn't work for me. The generated canonical url still contains the subdirectory twice. In GeneralUtility::fullUrl the $domain parameter is NULL, so the full TYPO3_SITE_URL is added in front of the url, which contains the subdirectory allready.

[2017-04-26 09:15] thomaszbz commented on #354
@Teddytrombone Thanks for reporting back.

For the root page, I can say that there's a bug in [RealUrl]( https://github.com/mblaschke/TYPO3-metaseo/issues/370).

Please try:

- go back to metaseo 2.0.4 production release
- Apply the workaround (SQL) from https://github.com/mblaschke/TYPO3-metaseo/issues/370
- Clear all caches
- Delete wrong entries in the sitemap
- See what happens.

[2017-04-27 08:14] Teddytrombone commented on #354
I did my tests on subpages, and it didn't work either.

I don't think it's a bug in RealUrl, because if i disable RealUrl, the problem still exists.
[code]

![bildschirmfoto von 2017-04-27 10-11-20](https://cloud.githubusercontent.com/assets/14216933/25474012/f7966080-2b31-11e7-9977-52f412d524ce.png)

[2017-05-10 16:59] graebermedien commented on #414
Same here! Could anyone please fix this / provide a patch (or any hint when this could get fixed (timing?!))?

[2017-05-21 15:54] MK-42 opened #477 "Overriding meta tags via connector"
**MetaSEO version**: 2.0.4
**TYPO3 version**: 6.2.30
**PHP version**: 5.6
**RealUrl version**: 2.2.1

I'm struggling to set meta tags and pageTitle from my single-view controller-action. After deactivating pageTitle cache in TS, `$connector->setPageTitle()` is applied, but I wasn't able to get new values into any meta tags via setMetaTag, setCustomMetaTag, etc. Is there any documentation on the us

[2017-05-21 16:06] thomaszbz commented on #477
Please report back what happens if the usage of the connector is removed:

* Is the meta tag non-existent in the HTML output? OR
* Is it set?

* If it is set, is it set by metaseo?

It could happen that you've run into a race condition, meaning that one piece of code already has set the meta tag and using the connector eventually does not overwrite that.

[2017-05-21 16:50] MK-42 commented on #477
If I remove the static import of metaseo, no metatags are present. So they get inserted by metaseo.

If it's included, I get tags for DCTERMS.title, date, DCTERMS.date, robots, canonical and some open graph ones.

Overwriting robots is neither possible via setMetaTag nor setCustomMetaTag. Outputting one with key "test" has no effect, and setting openGraph ones is also showing no effect. SetPageTit

[2017-05-21 20:44] thomaszbz commented on #477
Metaseo tends to be called multiple times, via hooks.

Metaseo also offers multiple hooks itself. Maybe you can use them to mitigate your race condition.

[2017-05-21 20:46] thomaszbz commented on #477
Could you please post a snippet of example code and at which place in your extension you are using it?

[2017-05-22 13:54] MK-42 commented on #477
Sorry for being so sparse on information and code, I used a touch device for those entries. Let's see what I can provide:

I have a page that contains a plugin of my extension. I want to set metatags and pagetitle depending on stuff in the Controller/Action for that plugin.

[code]

I disabled the pageTitle caching - that resulted in the correct pageTitles. But the og: tags and robots tag is still

[2017-05-26 06:37] MKchn opened #478 "Sitemap issue within Google Webmaster Tools"
**MetaSEO version**: 	3.0.0-dev
**TYPO3 version**: 8.7.1
**PHP version**: 7.1
RealUrl version (optional): 2.2.1

Hey i have a problem within the google webmaster tools. The error says:
Your sitemap is obviously an HTML page. Please use a supported format for Sitemaps instead.

Doublechecked the realURL configuration and for me all is fine...
The sitemap can be found via:
www.netfactory.de/sitemap.

[2017-05-29 01:00] thomaszbz commented on #478
A sitemap generated by metaseo should start with (generated with metaseo 2.0.4, latest Typo3 7.6):

    <?xml version="1.0" encoding="UTF-8"?><sitemapindex xmlns=

The sitemap you provided starts with

    <?xml version="1.0" encoding="UTF-8"?><head/><sitemapindex xmlns=

... which in turn means that the `<head/>` tag should not be there.

Now that your sitemap.xml eventually is stored somewhere a

[2017-05-29 01:59] thomaszbz commented on #478
Content-Type is defined in https://github.com/mblaschke/TYPO3-metaseo/blob/feature/8lts/Configuration/TypoScript/setup.txt#L556

That works great in TYPO3 7.6. In 8.7.1 LTS however, I get a

    Content-Type: text/html; charset=utf-8

[2017-05-29 02:34] thomaszbz commented on #478
@MKchn Please update from branch feature/8lts and see if the http header for the content type is right (F12 key in your browser) and fixes this issue.

[2017-05-29 02:35] #478 closed

[2017-05-29 04:51] MKchn commented on #478
Works fine after updating. No more <head/> Tag in the sitemap.

[2017-05-29 05:28] thomaszbz commented on #478
Headers also look as expected:
![auswahl_317](https://cloud.githubusercontent.com/assets/11200727/26537505/748a5ffc-4440-11e7-931a-1de148891c96.png)

[2017-06-02 09:49] RKlingler commented on #376
Hi, I need to update a client's site to Typo3 8 soon and they are relying on metaseo heavily.
Can you give me an update on what's the current status of version 3? And can you already give an updated estimation of when you will be able to release a stable version?

[2017-06-02 10:22] thomaszbz commented on #376
@RKlingler Since end of April, bug reports against branch feature/8lts were very rare. In the meantime, packagist reports more than 100 downloads of 3.0.0-dev. So there should have been some testing going on in the meantime.

Until 3.0.0 is released, I suggest to take feature/8lts via composer or by manually cloning that branch (non-composer-mode). For Typo3 8 LTS, I'm not aware of any regression

[2017-06-02 14:41] RKlingler commented on #376
Thanks for your response. I'ts much appreciated.
Since the Typo3 dependency in version 2 is set to 6.2.1 - 7.6.99 I assumed I wouldn't be able to use it in production on Typo3 8. But it's good to hear that I have these options. I'm sure one of them will work.

Thanks again, and also thank you for the work you do in maintaining this extension.

[2017-06-02 14:44] thomaszbz commented on #376
Version 2.0.x is known to _not_ work in TYPO3 8 LTS.

[2017-06-10 20:30] thomaszbz commented on #200
Given that the schema/protocol selection feature got removed in 8LTS (core), this is a no-fix for me.

[2017-06-10 20:34] #200 closed

[2017-06-10 21:30] thomaszbz commented on #376
Merged new features from 2.1.0 into 3.0.0. Current state seems to be ready to be released now.

[2017-06-10 21:50] #223 closed

[2017-06-10 22:37] #456 closed

[2017-06-11 16:24] #451 closed

[2017-06-11 22:03] thomaszbz commented on #376
MetaSEO 2.1.0 and 3.0.0 are released now.

[2017-06-11 22:03] #376 closed

[2017-06-13 17:17] thomaszbz commented on #242
Eventually we should decide to go for Doctrine-ORM directly, in case it should make it into the core (or use TER-extension doctrine_orm in the meantime as soon as we know that this will happen).

Doing two migrations is something we should try to avoid, better skip migration to Doctrine-DBAL if possible.

[2017-06-13 18:19] thomaszbz commented on #120
If this is still required by somebody now that most browsers in the wild should be able to handle CSS media queries, please report back.

[2017-06-14 15:18] thomaszbz commented on #245
Instead of loading the tracking-code inline, we should offer a separate tracking.js as suggested in

https://piwik.org/faq/general/faq_20904/

Now that some users might want to still load piwik tracking code inline (because users could leave the page before the tracking.js is loaded), we should make this configurable. That should still work without a CSP header or with an unsafe CSP header.

[2017-06-17 15:13] #244 closed

[2017-06-17 15:16] thomaszbz commented on #63
@halione Notfalls die Code-Snippets hier im Ticket posten. Ein Pull Request wäre natürlich praktischer.

[2017-06-18 17:13] thomaszbz opened #487 "Composer: Move Packagist package name to webdevops/metaseo"
**MetaSEO version**: 2.1.0/3.0.0

Composer: Move Packagist package name to webdevops/metaseo

Part of the migration is already done via 5070efef30418c3f47ecf22415e14f92470a2f5c but it needs to be documented.

`webdevops/metaseo` has been registered and `mblaschke/metaseo` has been abandoned.

When upgrading, Composer points users to the new package name:

Most users should use the TER package name

[2017-06-18 20:44] #487 closed

[2017-06-23 11:10] thomaszbz commented on #477
@MK-42 I'm not using the connector myself, but what users report back: The connector should work in principle.

@topfender (via #347) Could you please provide some example code to answer this question/share your experience with the connector?

Here's a piece of code @arnekolja posted a while ago on slack:

[code]
@MK-42 from what I see is your code not much different from this.

[2017-06-23 16:37] topfender commented on #477
This works for me in 7.6 with metaseo 2.1.0 (I'm pretty sure it worked in 2.0.4 as well):

[code]

I hope this helps.  You could try to load the connector class via GeneralUtility instead.
I guess everything else is the same.

[2017-06-23 23:14] thomaszbz commented on #477
@topfender Thanks for reporting back. Could you recheck if the setMetaTag() function really works as expected (meaning, it really affects output)? That's what @MK-42 reported was not working. It's just that @MK-42 's code should also work in principle.

@topfender Do you have the pagetitle caching enabled or disabled (that's one of MetaSEO's constants which should be used for debugging only)?

@MK

[2017-06-23 23:59] thomaszbz opened #494 "Add documentation: How to use the connector"
**MetaSEO version**: 2.1.0/3.0.0

Add documentation: How to use the connector

Use one of the code examples from #477

[2017-06-24 00:01] thomaszbz opened #495 "Add test cases for the connector"
**MetaSEO version**: 2.1.0/3.0.0

Add test cases for the connector

Common usage patterns are those listed in #477

[2017-06-24 08:17] topfender commented on #477
setPageTitle, setMetaTag() and setOpenGraphTag() work as expected. I have some default values for them and they get replaced with content from my extension. If the keywords field is empty, the default keywords are used.

I found something while looking through my old code. I added the show action to non cacheable action, because I remember having some issues with wrong content. The connector calls

[2017-06-24 08:52] thomaszbz commented on #477
Thanks. I think that answers the original question of @MK-42 . Having the action cacheable makes sense because MetaSEO heavily relies on TYPO3's caching framework.

So the problem @MK-42 was faced with presumably was:
- Call Metaseo in cached mode from uncacheable action did not work
- Call Metaseo in uncached mode (Title tag for debug purposes) from uncacheable action worked for the title at leas

[2017-06-27 09:28] thomaszbz commented on #477
@topfender Could you please post such a working example with your cacheable action? I'd like to add this to MetaSEO's documentation via #494.

[2017-06-27 12:16] topfender commented on #477
Should I add the snippets here or in #494 ?

[2017-06-28 09:09] thomaszbz commented on #477
@topfender I'd go for both ;-) Thanks!

[2017-06-29 07:12] topfender commented on #477
How to user metaseo connector class to override page title and meta tags:
Use connector class in a cacheable action:
I would advice to create an extra action, so the plugin can be used in different cases. (e.g. form with extension data over get request).

ext_localconf.php
[code]

Classes/Controller/MyController.php
[code]

The prefix and suffix settings could be set via flexform or typoscript con

[2017-06-29 07:12] topfender commented on #494
How to user metaseo connector class to override page title and meta tags:
Use connector class in a cacheable action:
I would advice to create an extra action, so the plugin can be used in different cases. (e.g. form with extension data over get request).

ext_localconf.php
[code]

Classes/Controller/MyController.php
[code]

The prefix and suffix settings could be set via flexform or typoscript con

[2017-06-29 11:04] thomaszbz commented on #477
@MK-42 Hope that answers it thanks to @topfender .

[2017-06-29 11:04] #477 closed

[2017-07-04 12:12] npostnik opened #496 "Place Google Code in <head>"
**MetaSEO version**: 2.1.0
**TYPO3 version**: 7.6.18

Hi, Google insists that the tracking code is placed inside the `<head>`-tag of the page. Otherwise the site cannot be verified. Is is possible to place the Google tracking code in `<head>` and/or add a configuration option for this?

Kind regards, Natalia

[2017-07-04 12:49] thomaszbz commented on #496
@npostnik Thanks for pointing this out.

Putting the tracking code into the header is a duplicate of #123.

@npostnik What are the implications of not doing so? Is there a source to it?

Years ago, it seemed to be best practise to not put it into the header section (as discussed here: https://stackoverflow.com/questions/3694356/is-there-a-reason-to-put-google-analytics-in-head-and-not-in-body and

[2017-07-04 14:31] derBoogie opened #497 "GET-param "type" twice in url robots.txt and sitemap.xml"
robots.txt and sitemap.xml url generates urls with double get-paramter "type" on my website:

http://www.jh-moehringen.de/robots.txt -> http://www.jh-moehringen.de/index.php?id=3&type=841133&type=841133
http://www.jh-moehringen.de/sitemap.xml ->http://www.jh-moehringen.de/index.php?id=3&type=841132&type=841132

realurl config:

[code]

MetaSEO version: 3.0.0
TYPO3 version: 8.7.2
PHP version: 7.1.6

[2017-07-04 15:22] thomaszbz commented on #497
Here's how wget sees it:

[code]

[2017-07-04 15:41] thomaszbz commented on #497
@derBoogie Well, your config looks nice in principle, just that it's the config for realurl. The code in question should be somewhere around here: https://github.com/dmitryd/typo3-realurl/blob/952499ff5b21965d7eef8751213981054c2e8fc8/Classes/Encoder/UrlEncoder.php#L1066

What should we do about it on the side of MetaSEO?

MetaSEO does not process that config, so duplication is likely to happen in

[2017-07-05 08:03] derBoogie commented on #497
@thomaszbz I'm using the standard typoscript configuration of metaseo, nothing else is defined in in my custom typoscript.
metaseo is generating the urls http://www.jh-moehringen.de/index.php?id=3&type=841133&type=841133 and http://www.jh-moehringen.de/index.php?id=3&type=841132&type=841132 right?
Why should this be a realurl theme?

[2017-07-05 09:08] thomaszbz commented on #497
Mainly because realurl generates these URLs, not Metaseo. As far as I see, the configuration itself is right. As said, I think this is a bug in realurl, presumably.

[2017-07-05 17:47] thomaszbz commented on #497
@derBoogie Seems as if you filed a new [bug report](https://github.com/dmitryd/typo3-realurl/issues/499) against realurl.

Just in case: If the config is somehow wrong and needs to be changed, we can fix that in MetaSEO's documentation, of course.

I'll leave this open for some time to let it serve as a bug-watcher.

[2017-07-05 19:44] thomaszbz commented on #496
Still missing feedback. Please report back in #123. Closing this issue.

[2017-07-05 19:44] #496 closed, assigned to nobody

[2017-07-06 06:30] npostnik commented on #123
![property_analytics](https://user-images.githubusercontent.com/10418538/27898211-2465df8a-6225-11e7-9ee9-157f611ae2e4.PNG) I noticed, that Google started to care, where the analytics code is placed. This error/notification started to appear about a month ago.

[2017-07-06 07:46] dmitryd commented on #497
RealURL may not generate anything like `http://www.jh-moehringen.de/index.php?id=3&type=841132&type=841132`.

[2017-07-06 10:28] thomaszbz commented on #497
@dmitryd Then, where does it come from? The core?

[2017-07-06 14:15] dmitryd commented on #497
I don't know. But it is not a RealURL redirect. Here is how it looks like:

[code]

If it was from RealURL, than `Location` would never contain any `index.php`. RealURL redirects only in few cases and always to speaking URLs.

[2017-07-06 17:15] thomaszbz commented on #497
I filed an [issue](https://forge.typo3.org/issues/81815) against TYPO3 core.

[2017-07-13 06:18] dsteinborn commented on #494
@topfender The description should state that it has to be a **cacheable action**. It won't work with a _non cacheable action_.

[2017-07-13 06:58] topfender commented on #494
@dsteinborn indeed, thanks.

[2017-07-13 17:18] tobiasgraeber commented on #183
please also add support for other news "meta" fields like the news "alternative_title" field for example!

[2017-07-13 17:24] tobiasgraeber opened #498 "TYPO3 Backend: Cannot view Control-Center (Sitemap Edit-List) as other user than Admin"
**MetaSEO version**: 2.0.*

**TYPO3 version**: 7.6

**PHP version**: 7.1

ISSUE to reproduce:

1)

In the TYPO3 Backend going to : typo3/index.php?M=MetaseoMetaseo_MetaseoSitemap&moduleToken=62a56c20de24592d271fe821ecb316911d640ebb

("Sitemap" under "SEO" in Menu left)

2) Klick on any Root-Site/Sitemap Entry (on the list-icon) to enter the Sitemap-Editor (White/Blacklist/Filtering etc.)

As an Ad

[2017-07-16 07:15] thomaszbz commented on #498
Please make sure you've upgraded to 2.0.4 at least.

Some features in MetaSEO might just not be implemented to be usable by non-admins.

[2017-07-27 13:56] phpweb commented on #343
Hello @SicorDev, please tell us how you solved the problem?

I have the same problem and I have tried this

`
$signalSlotDispatcher->connect(

    \Metaseo\Metaseo\Page\Part\MetatagPart::class,  // Signal class name

    'metatagOutput',                                  // Signal name

    \Triplesense\TsUtilities\Hooks\Metatag::class,// Slot class name

    'metatagOutput' // Slot name

);
`

and

[2017-07-27 14:24] SicorDev commented on #343
Hello @phpweb

I'm connecting my SignalSlot like this:
[code]

My Class looks like this: (the important parts)
[code]

[2017-07-27 15:05] phpweb commented on #343
wow @SicorDev du bist der Hammer. Thank you very much. It works, I confirm it.

[2017-08-12 13:58] thomaszbz commented on #414
@MichiBeck @tobiasgraeber Did you try working around this issue with https://stackoverflow.com/questions/43455037/metaseo-and-pagetitle-for-tx-news/43463791 ?

[2017-08-12 14:00] thomaszbz commented on #234
@qitec Did you try working around this issue with https://stackoverflow.com/questions/43455037/metaseo-and-pagetitle-for-tx-news/43463791 ?

Maybe this can just be added to the default TypoScript shipped with MetaSEO.

[2017-08-14 06:18] MichiBeck commented on #414
@thomaszbz not yet, but I will... Thanks

[2017-08-14 19:48] thomaszbz commented on #414
@MichiBeck Please report back if it works (I did not test it myself but would be happy if it works around this issue so maybe we can track this issue down towards a patch).

We also need to get the full url from tx_news, so there's a bit more to it.

[2017-08-19 14:08] thomaszbz commented on #498
@tobiasgraeber Is this still an issue? If updating fixed the problem, this issue can be closed.

[2017-08-25 10:09] MichiBeck commented on #414
@thomaszbz I tested and it didn´t work for me.
I see still this one:
`<meta property="og:title" content="Detailansicht">`

[2017-08-25 10:56] thomaszbz commented on #414
@MichiBeck Thanks for reporting back.

[2017-08-25 16:23] thomaszbz opened #500 "Add a way to disable the canonical Tag in HTML output"
**MetaSEO version**: 2.1.0, 3.0.0

It seems as if the canonical tag can't yet be disabled for the case that the page properties contain a canonical entry.

There should be a new constant for this, and we should check this constant in https://github.com/webdevops/TYPO3-metaseo/blob/master/Classes/Page/Part/MetatagPart.php#L211

[2017-08-25 16:35] thomaszbz commented on #500
Current plan is to change constant `canonicalUrl` to `canonicalUrl.generateUrl`. Then we can use `canonicalUrl`to enable/disable the tag as a whole (no matter if a canonical tag is set in page properties) in line 211.

For a very limited number of users, this is a breaking change because in TS, they must change usages of `canonicalUrl` to `canonicalUrl.generateUrl`

@tpfender Patches welcome

[2017-09-01 08:57] thomaszbz opened #502 "Add TYPO3 8 compatible FlashMessage Rendering in update script"
**MetaSEO version**: 3.0.0
**TYPO3 version**: 8

PR from @ipf

backend results in a fatal error, because the FlashMessage handling has
been changed.

[2017-09-01 10:30] thomaszbz opened #503 "Duplicated sitemap content"
**MetaSEO version**: 0.0.0
**TYPO3 version**: 0.0.0
**PHP version**: 0.0.0

PR #499 from @WorksDev:

If array_slice writes directly into $this->sitemapPages, the Sitemap Content (first xx) will be in every following following sitemap page - this change will give sliced array directly to createSitemapPage so initial Sitemap Pages will be untouched and following Pages have correct content

[2017-09-01 10:31] thomaszbz commented on #503
@WorksDev Could you please post the missing versions (in my previous comment)?

[2017-09-02 00:43] thomaszbz opened #504 "Documentation: Prefer Packagist over legacy composer.typo3.org"
According to @helhum, Packagist is now [preferred](https://git-t3o.typo3.org/t3o/ter/issues/179#note_5308) over composer.typo3.org (provided by TER):

MetaSEO supports both of them for quite a while, but our documentation recommends to go for the legacy repo which it should not. That said, we should recommend to go for packagist instead (in github readme and manual).

This does not affect non-comp

[2017-09-03 03:53] danpii commented on #254
Moderating this issue, I moved this comment to #505.

@thomaszbz

[2017-09-04 00:04] thomaszbz commented on #254
@DanPii That sounds cooluri related. I moved it to a separate ticket #505.

[2017-09-04 00:18] thomaszbz opened #505 "Sitemap contains hashes when used with CoolUri"
reported by @DanPii

Hi,
I have the same issue.
Typo3: 7.6.15
MetaSEO: 2.0.3, just updated to 2.1.0.
cHashIncludePageId = 1

In my case I get different random (hased?)URLs.

- Some URLs are connected to the extension coolURI. Every time I open a site from within the backend via "view webpage" or "save and view page" (after editing content) Typo3 opens the page like this: domain.org/index.php?id=61

[2017-09-05 10:48] dennismetz opened #506 "ControlCenter not editable for Non-Admins"
New User -> All rights given (everything with meta or seo)
Try to edit the "Template" in ControlCenter -> It`s loading but nothing happens
With Admin-User everything is fine

**MetaSEO version**: 2.1.0 - 3.0.0

**TYPO3 version**: 7.6.18 - 8.7.4

**PHP version**: 5.6 - 7.1

latest (2.2.1)

[2017-09-05 21:44] danpii commented on #254
@thomaszbz I think only the URLs containing ADMCMD_cooluri=1 are cooluri relevant.
- ?fb_locale=nl_NL --> looks like like a facebook url parameter to me
- ?ad=semD... --> looks like an url parameter from some ad site (Google Ads?, Adwords?)

I am not using typo3 extensions for FB or Google Ads, but facebook javascript on some pages, so Typo3 will not know about these parameters.

Also, I just saw

[2017-09-06 01:04] thomaszbz commented on #254
@DanPii Well, for the case it's not CoolUri related, then it just duplicates this issue.

You can blacklist these entries in the sitemap view of metaseo at least.

[2017-09-06 02:56] danpii commented on #254
Blacklisting with the sitemap view of metaseo only works after they have been already added. Unfortunately there were a lot.
Is it possible via Typoscript and this Node "plugin.metaseo.sitemap.index.blacklist" to avoid them being added in the first place?